.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: flex;
    width: 100%;
    padding: 0;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: #2b4450;
    box-sizing: border-box; 
    align-items: center;
    max-width: auto;
    margin: 0 auto;
}

.ui-datepicker-header {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid rgba(73, 114, 133, .6);
    
}
 
.ui-datepicker-title { 
	padding: 0 40px;
	margin: 0;
	text-align: right;
 }
 
.ui-datepicker-month {
	position: relative;
	color: #dfebed;
	font-size: 2em;
	font-weight: 300;
	margin: 0;
}
 
.ui-datepicker-year {
	color: #dfebed;
	font-size: 2em;
	font-weight: 300;
	padding-left: 5px;
	margin: 0;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 13px;
    cursor: pointer;
    text-align: right;
}
 
.ui-datepicker-prev {
    left: 0;
    padding-left: 17px !important;
}
 
.ui-datepicker-next {
    right: 0;
    padding-right: 20px !important;
}
 
.ui-datepicker-prev span,
.ui-datepicker-next span{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 2.4em;
    font-weight: 300;
    color: #dfebed;
}
 
.ui-datepicker-calendar {
	width: 100%;
	color: #dfebed;
}

.ui-datepicker-calendar thead {
	    border-bottom: 0px solid #d0d0d0;
}

.ui-datepicker-calendar th {
    	color: #dfebed;
	font-size: 1.5em;
	padding-top:  20px;
	padding-bottom: 20px;
	margin: 0;
	text-align: center;
}

.ui-datepicker-calendar td {
	padding-bottom: 20px;
	font-size: 1.5em;
	text-align: center;
	font-weight: normal;
}
 
.ui-datepicker-calendar .ui-state-default {
    outline: none;
    text-decoration: none;
    color: #dfebed;
    border: 1px solid transparent;
}

.ui-state-active{
	background: #f78536;
	border-radius: 10%;
}
 
.ui-datepicker-other-month .ui-state-default { color: #565656; }



.contenido {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	max-width: auto;
	width: 100%;
	box-sizing: border-box; 
  	font-family: 'Roboto', sans-serif;

}

.calendar {
	background: #2b4450;
	border-radius: 4px;
	height: 501px;
	transition: .9s;
	transform-style: preserve-3d;
	width: 100%;
	margin: 0;
}
/* Front - Calendar */
.front {
	transform: rotateY(0deg);
}
.current-date {
	border-bottom: 1px solid rgba(73, 114, 133, .6);
	display: flex;
	justify-content: space-between;
	padding: 30px 40px;
	margin: 0;
}
.current-date h1 {
	color: #dfebed;
	font-size: 1.4em;
	font-weight: 300;
	  margin: 0;
}
.week-days {
	color: #dfebed;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	padding: 30px 40px !important;
	list-style: none;
	margin: 0;
}
.days {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
}
.weeks {
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 0 40px;
	margin: 0;
}
.weeks div {
	display: flex;
	font-size: 1.2em;
	font-weight: 300;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;

}
.last-month {
	opacity: .3;

}
.weeks span {
	padding: 5px;
}
.weeks span.active {
	background: #f78536;
	border-radius: 10%;
}
.weeks span:not(.last-month):hover {
	cursor: pointer;
	font-weight: 600;
}
.event {
	position: relative;
}
.event:after {
	content: '•';
	color: #f78536;
	font-size: 1.4em;
	position: absolute;
	right: 10px;
	top: 15px;
}
/* Flip animation */

.flip {
	transform: rotateY(180deg);
}

.front, .back {
	backface-visibility: hidden;
}

