// Only necessary for window height sized blocks.
  html, body, .block {
    height: 100%;
  }
  .medium-alto{
    height: 70%;
  }
 // Class for when element is above threshold
  .pin-top {
    position: relative;
  }

  // Class for when element is below threshold
  .pin-bottom {
    position: relative;
  }

  // Class for when element is pinned
  .pinned {
    position: fixed !important;
  }
  // ============ Particles ============= //
#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#intro {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}
nav ul li {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}
.text-presentation{
  font-weight: 300;
  margin-bottom: 4%; 
  line-height: 4.5rem;
  font-size: 2.1rem;
}
.grande{
  font-size: 7rem;
  display: block;
  color: #2196F3;
}