html, body, .block {
  height: 100%; }

.medium-alto {
  height: 70%; }

.pin-top {
  position: relative; }

.pin-bottom {
  position: relative; }

.pinned {
  position: fixed !important; }

/* label color */
.input-field label {
  color: #000; }

/* label focus color */
.input-field input[type=email]:focus + label {
  color: #2196F3; }

.input-field input[type=password]:focus + label {
  color: #2196F3; }

.input-field input[type=text]:focus + label {
  color: #2196F3; }

/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3; }

.input-field input[type=password]:focus {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3; }

.input-field input[type=text]:focus {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #2196F3; }

.btn {
  background-color: #2196F3; }

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

#log-in {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  #log-in img {
    width: 20rem; }

.brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  letter-spacing: 7px; }

nav ul li {
  font-size: 1.2rem;
  color: #FFF;
  letter-spacing: 2px;
  display: block;
  font-weight: 300;
  padding: 0px 15px; }

#team .card {
  position: initial !important; }
  #team .card img {
    width: 10rem; }

footer img {
  width: 15rem;
  -webkit-filter: invert(100%);
  filter: invert(100%); }

nav img {
  height: 3.8rem; }

.info {
  display: block;
  padding: 1rem 0 0 1.3rem;
  line-height: 8px; }

.dropdown-content {
  margin-top: 50px; }
  .dropdown-content li a {
    color: #222;
    font-weight: 500; }
    .dropdown-content li a:hover {
      background-color: transparent; }
  .dropdown-content li:hover {
    background-color: rgba(64, 64, 64, 0.6); }

.bar-menu-color {
  background-color: #2B323A;
  color: white; }
  .bar-menu-color ul li {
    padding-bottom: 3rem; }

.options-menu-color {
  background-color: #262626;
  color: white; }

.fondo-color {
  background-color: #D9D9D9; }

.no-margin {
  margin: 0; }

.manita {
  cursor: pointer; }

.negro-flat {
  background-color: #404040; }

.rojo {
  color: red; }

.separado {
  letter-spacing: 0px;
  text-transform: uppercase; }

.peque {
  font-size: 0.8rem; }

.grande {
  font-size: 9rem;
  display: block;
  color: #2196F3; }

.text-presentation {
  font-weight: 300;
  margin-bottom: 4%;
  line-height: 4.5rem; }

/* @media only screen and (max-height: 524px) {
  .block{
    height: 250%;
  }
} */
