html, body, .block {
  height: 100%;
  font-weight: 500;
}

.medium-alto {
  height: 70%;
}

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

/* label color */
.input-field label {
  color: #000;
}

/* label focus color */
.input-field input[type=email]:focus + label {
  color: #2196F3;
}

.input-field input[type=password]:focus + label {
  color: #2196F3;
}

.input-field input[type=text]:focus + label {
  color: #2196F3;
}

/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #2196F3;
}

.btn {
  background-color: #2196F3;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#log-in {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#log-in img {
  width: 20rem;
}

.brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  letter-spacing: 7px;
}

nav ul li {
  font-size: 1.2rem;
  color: #FFF;
  letter-spacing: 2px;
  display: block;
  font-weight: 300;
  padding: 0px 15px;
}

#team .card {
  position: initial !important;
}

#team .card img {
  width: 10rem;
}

footer img {
  width: 15rem;
  filter: invert(100%);
}

.info {
  padding-bottom: -20px;
}

.admin-img {
  border-radius: 50%;
  height: 35px;
  margin-right: 10px;
}

.dropdown-content {
  margin-top: 50px;
}

.dropdown-content li a {
  color: #222;
  font-weight: 500;
}

.dropdown-content li a:hover {
  background-color: transparent;
}

.dropdown-content li:hover {
  background-color: rgba(64, 64, 64, 0.6);
}

.bar-menu-color {
  background-color: #2B323A;
  color: white;
}

.bar-menu-color ul li {
  margin: 70% 0;
}

.bar-menu-color ul li i {
  font-size: 2rem;
}

.options-menu-color {
  background-color: #262626;
  color: white;
}

.fondo-color {
  background-color: #D9D9D9;
}

.medium-ancho {
  width: 70%;
  margin-bottom: 0.5rem;
}

.margincito-left {
  margin-left: 50px;
}

.message-style {
  font-weight: 500;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
  overflow: auto;
}

.no-margin {
  margin: 0;
}

.manita {
  cursor: pointer;
}

.negro-flat {
  background-color: #404040;
}

.lateral-admin {
  background-color: #2B323A;
}

.separado {
  letter-spacing: 0px;
  text-transform: uppercase;
}

.peque {
  font-size: 0.8rem;
}

.grande {
  font-size: 9rem;
  display: block;
  color: #2196F3;
}

.negro-text {
  color: #000 !important;
}

.text-presentation {
  font-weight: 300;
  margin-bottom: 4%;
  line-height: 4.5rem;
}

.navegacion-espacio {
  padding-left: 240px;
}

@media only screen and (max-width: 992px) {
  .navegacion-espacio {
    padding-left: 0 !important;
  }
}

.white-bonis {
  color: rgba(255, 255, 255, 0.87) !important;
}

.icono-on-chip {
  float: left;
  font-size: 16px;
  line-height: 32px;
  padding-right: 8px;
}

@media only screen and (max-height: 560px) {
  .block {
    height: 150%;
  }
}

@media only screen and (max-height: 425px) {
  .block {
    height: 180%;
  }
}

.jus {
  text-align: justify !important;
}

.text-normal {
  font-weight: 400 !important;
  font-size: 14px !important;
}

.trun {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-cien {
  min-height: 100%;
}

.contenido-comunicado {
  margin: 0;
}

.contenido-comunicado .card-content {
  padding-bottom: 235px;
}

.contenido-comunicado .card-action {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 230px;
  overflow: hidden;
}

.contenido-comunicado .card-action img {
  border-radius: 50%;
  height: 50px;
}

.contenido-comunicado .card-action h4 {
  font-size: 17px !important;
  font-weight: 300 !important;
  margin: 2px;
}

.contenido-comunicado .card-action p {
  margin: 5px;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.contenido-comunicado .card-action .row {
  margin: 0px;
}

#contenido-responsivo {
  max-height: 80%;
  height: 80%;
  width: 90%;
}

#contenido-responsivo .modal-content {
  padding: 0px;
}

/*.fijable{
  height: 150px;
  overflow: hidden;
  img 
  {
    min-height: 100%;
    min-width: 100%;
    width: 150%;
  }
}*/
.a-corregido {
  top: 130px;
}

.ocultado {
  display: none;
}

#contenido-large {
  position: fixed;
  /*}
.card-flotante
{*/
  top: 70px;
  bottom: 15px;
  height: auto;
  overflow-y: auto;
}

#contenido-large .head-card {
  padding: 100px 10px 10px 15px  !important;
  color: white;
  background-color: #e74c3c;
}

#contenido-large .head-card h4 {
  font-size: 22px !important;
  font-weight: 500 !important;
  margin: 0;
  line-height: 1.5;
}

/*======== Estilos de cards - propuesta 01 ============
.head-card
{
  padding : 10px 10px 10px 15px  !important;
  h4
  {
    font-size: 20px !important;
    font-weight: 300 !important;
    margin: 0;
    line-height: 1.5;
  }
}
.card-prev 
{
  padding: 15px !important;
  p
  {
    padding-bottom: 1em !important;
  }
 
}
.titulo-card
{
    font-size: 20px !important;
    font-weight: 300 !important;
}

.contenedor-chips
{
  padding-bottom: 1em !important;
}
*/
.negro-card {
  background-color: #1d1d1d;
}

.verde-card {
  background-color: #00c171;
}

.azul-card {
  background-color: #01579d;
}

.verdedark-card {
  background-color: #0d261e;
}

.gris-card {
  background-color: #607d8b;
}

.urgente-card {
  background-color: #ea4c36;
}

#cards-comunicados .card {
  padding-top: 1em;
  color: black;
  transition: all 0.2s;
}

#cards-comunicados .card:hover {
  transform: translate3d(0, -3px, 0);
}

#cards-comunicados .head-card {
  padding: 125px 10px 10px 15px  !important;
  color: white;
  border-radius: 5px;
  /*  span{
    font-weight: 200;
  } */
}

#cards-comunicados .head-card h4 {
  font-size: 22px !important;
  font-weight: 500 !important;
  margin: 0;
  line-height: 1.5;
}

#cards-comunicados .card-prev {
  padding: 15px !important;
}

#cards-comunicados .card-prev p {
  padding-bottom: 1em !important;
}

#cards-comunicados .min-text {
  font-size: 11px;
}

#cards-comunicados .min-text .icon-special {
  float: left;
  font-size: 16px;
  padding-right: 8px;
}

.transparente-truco {
  position: absolute;
  min-height: 100%;
  left: 0;
  right: 15px;
  z-index: 1;
  overflow-y: auto;
}

.contenedor-carousel {
  position: relative;
  text-align: center;
  height: 100%  !important;
}

.contenedor-carousel #bienvenida-c {
  background: #16B6C4;
}

.contenedor-carousel .carousel {
  min-height: 100%;
}

.contenedor-carousel .carousel .carousel-item {
  min-height: 100%;
  height: 1px;
  overflow-y: auto;
  padding-bottom: 115px !important;
}

.contenedor-carousel .carousel h5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.5;
}

.altito {
  margin-top: 50px !important;
}

.main-height-help {
  height: 100%;
  height: calc(100% - 64px) !important;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .main-height-help {
    height: 100% !important;
    height: calc(100% - 56px) !important;
    position: relative;
  }
}

.botones-flotantes {
  bottom: 20px;
  z-index: 5;
  right: 0px;
  left: 0px;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .carousel-tabla {
    margin: 0 !important;
    padding: 0 !important;
  }
  .botones-flotantes {
    bottom: 20px;
    z-index: 5;
    right: 0px;
    left: 0px;
    width: 100%;
  }
}

.animar {
  transition: all 0.9s;
}

.select-wrapper input.select-dropdown {
  z-index: 800;
}
