!!!5
%html{:lang => "es"}
	%header
		%meta{:name => "viewport", :content=>"width=device-width, initial-scale=1"}
		%meta{:charset=> "UTF-8"}
		%link{:rel => "shortcut icon", :type=>"image/x-icon", :href => "../../images/favicon.ico"}/
		-#google icons
		%link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{:rel => "stylesheet", :href => "../../css/materialize.css", :media => "screen,projection"}/		
		%link{:rel => "stylesheet", :href => "../../css/style.css"}/
		%link{:rel => "stylesheet", :href => "../../css/animate.css"}/
		%title Gliphy Admin
	%body
		%ul#slide-out.side-nav{style:"background-color: #2B323A"}
			%li.userView
				.background
					%img{src:"../../images/office.jpg"}
				%a.white-bonis{href:"#"}
					%img.circle{src:"../../images/admin.jpg"}
				%a.white-bonis{href:"#"}
					%span.white-text.name Joel Hernández
					%span.white-text.email Admnistrador
			%li
				%a.white-bonis.waves-effect{href:"#"}
					%i.material-icons.left.white-bonis person
					Mi perfil
			%li
				%a.white-bonis.waves-effect{:href => "#!"} 
					%i.material-icons.left.white-bonis power_settings_new
					Salir
			
		%ul#navegacion1.side-nav.fixed{style:"width:240px; background-color: #2B323A"}
			
			%li
				.navbar-fixed
					%nav.negro-flat
			%p
			%li
				%a.waves-effect.white-bonis{href:"#"}
					%i.material-icons.left.white-bonis storage
					Base de Datos
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis account_circle
					Mis comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis add
					Agregar comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis search
					Búsqueda
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis error
					Ayuda
		%ul#navegacion-movil.side-nav{style:"width:240px; background-color: #2B323A"}
			%br
			%li
				%a.waves-effect.white-bonis{href:"#"}
					%i.material-icons.left.white-bonis storage
					Base de Datos
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis account_circle
					Mis comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis add
					Agregar comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis search
					Búsqueda
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis error
					Ayuda
		.navbar-fixed
			%nav.negro-flat
				.nav-wrapper
					%p.left
						%a.button-collapse1.hide-on-large-only.btn-flat.white-bonis.left{href:"#", data:{activates:"navegacion-movil"}}
							%i.material-icons{style:" line-height: 30px;"} menu
					%p.right
						%a.button-collapse2.btn-flat.white-bonis.left{href:"#", data:{activates:"slide-out"}}
							%i.material-icons.left{style:" line-height: 30px;"} apps
							OPCIONES
						

		-# ===================== CONTENIDO
		%main
			.fixed-action-btn
				%a.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped.hoverable{href:"#mensaje-confirmar", data:{position:"left", delay:"50", tooltip:"Publicar"}}
					%i.material-icons done
			-#.fixed-action-btn.toolbar
				-#%a.btn-floating.btn-large.bar-menu-color.center
				-#	%i.material-icons add
				-#%ul
				-#	%li
				-#		%a.waves-effect.waves-light{:href => "#!"}
				-#			%i.material-icons insert_chart
				-#	%li
				-#		%a.waves-effect.waves-light{:href => "#!"}
				-#			%i.material-icons format_quote
				-#	%li
				-#		%a.waves-effect.waves-light{:href => "#!"}
				-#			%i.material-icons publish
				-#	%li
				-#		%a.waves-effect.waves-light{:href => "#!"}
				-#			%i.material-icons attach_file
			#mensaje-confirmar.modal
				.modal-content
					%h4 ¿Deseas continuar?
					%p Una vez publicado el comunicado no podrá ser cambiado. Revise los datos, y asegurese de que son correctos.
					%p.right
						%a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"#"} Volver
						%a.modal-action.modal-close.waves-effect.waves-green.btn{href:"#"} Publicar
			.row
				.col.s12.l5{:style=>"margin-top: 0.5rem"}
					%h3.truncate Nuevo comunicado
					%blockquote Seleccione las opciones que desee y necesita para la creación de un nuevo comunicado.
					%nav.nav-extended
						.nav-content.bar-menu-color
							%ul.tabs.tabs-transparent
								%li.tab
									%a.active{:href => "#basicos"} Básicos
								%li.tab
									%a{:href => "#grupos-e"} grupos
								%li.tab
									%a{:href => "#alumnos-e"} alumnos
					
					#basicos.col.s12
						%h5 Sección
						%form{:action=>"#"}
							%p
								%input#todos1.with-gap{:name=>"group1", :type=>"radio", :checked=>""}
								%label{:for=>"todos1"} <b>Todos</b>
							%p
								%input#test2.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"test2"} <b>Secundaria</b>
								%input#test3.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"test3",style:"margin-left: 1rem"} <b>Bachillerato</b>
						%h5 Turno
						%form{:action=>"#"}
							%p
								%input#todos2.with-gap{:name=>"group1", :type=>"radio", :checked=>""}
								%label{:for=>"todos2"} <b>Todos</b>
							%p
								%input#matutino.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"matutino"} <b>Matutino</b>
								%input#vespertino.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"vespertino",style:"margin-left: 1rem"} <b>Vespertino</b>
						%h5 Usuarios
						%form{:action=>"#"}
							%p
								%input#todos3.with-gap{:name=>"group1", :type=>"radio", :checked=>""}
								%label{:for=>"todos3"} <b>Todos</b>
							%p
								%input#alumnos.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"alumnos"} <b>Alumnos</b>
								%input#profesores.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"profesores",style:"margin-left: 1rem"} <b>Profesores</b>
								%input#admin.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"admin",style:"margin-left: 1rem"} <b>Admnistrativos</b>
					#grupos-e.col.s12
						%h5 Grupo en concreto
						%form{:action=>"#"}
							%p
								%input#todos2-a.with-gap{:name=>"group1", :type=>"radio", :checked=>""}
								%label{:for=>"todos2-a"} <b>Todos</b>
							%p
								%input#matutino-a.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"matutino-a"} <b>Matutino</b>
								%input#vespertino-a.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"vespertino-a",style:"margin-left: 1rem"} <b>Vespertino</b>
							%p
								%input#test2-a.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"test2-a"} <b>Secundaria</b>
							%p{style:"margin-top: 2rem"}
								.input-field
									%select{multiple:""}
										%option{value:"", disabled:"", selected:""} Elige el grado
										%option{value:"1"} Primero - Matutino
										%option{value:"2"} Segundo - Matutino
										%option{value:"3"} Tercero - Matutino
										%option{value:"4"} Primero - Vespertino
										%option{value:"5"} Segundo - Vespertino
										%option{value:"6"} Tercero - Vespertino
									%label Grado
							%p
								%input#test3-a.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"test3-a"} <b>Bachillerato</b>
							%p{style:"margin-top: 2rem"}
								.input-field
									%select{multiple:""}
										%option{value:"", disabled:"", selected:""} Elige el grado
										%option{value:"1"} Primero - Matutino
										%option{value:"2"} Segundo - Matutino
										%option{value:"3"} Tercero - Matutino
										%option{value:"4"} Primero - Vespertino
										%option{value:"5"} Segundo - Vespertino
										%option{value:"6"} Tercero - Vespertino
									%label Grado
							.divider
							%p{style:"margin-top: 3rem"}
								.input-field
									%textarea#grupos-en-concreto.materialize-textarea{type:"text", placeholder:"Grupos individuales elegidos"}
									%label{for:"grupos-en-concreto"}Grupos elegidos
					#alumnos-e.col.s12
						%h5 Alumnos en concreto
						%form{:action=>"#"}
							%p
								.input-field
									%textarea#grupos-en-concreto.materialize-textarea{type:"text", placeholder:"Alumnos elegidos"}
									%label{for:"grupos-en-concreto"}Alumnos elegidos
							%p
								%input#matutino-a-a.with-gap{:name=>"group1", :type=>"radio"}
								%label{:for=>"matutino-a-a"} <b>Matutino</b>
								%input#vespertino-a-a.with-gap{:name=>"group1", :type=>"radio"}
								%label{:for=>"vespertino-a-a",style:"margin-left: 1rem"} <b>Vespertino</b>
							%p
								%input#test1-a-a.with-gap{:name=>"group2", :type=>"radio"}
								%label{:for=>"test1-a-a"} <b>Secundaria</b>
								%input#test2-a-a.with-gap{:name=>"group2", :type=>"radio"}
								%label{:for=>"test2-a-a",style:"margin-left: 1rem"} <b>Bachilerato</b>
							%p
								%input#grado-a-a-1.with-gap{:name=>"group3", :type=>"radio"}
								%label{:for=>"grado-a-a-1"} <b>Primer nivel</b>
								%input#grado-a-a-2.with-gap{:name=>"group3", :type=>"radio"}
								%label{:for=>"grado-a-a-2",style:"margin-left: 1rem"} <b>Segundo nivel</b>
								%input#grado-a-a-3.with-gap{:name=>"group3", :type=>"radio"}
								%label{:for=>"grado-a-a-3",style:"margin-left: 1rem"} <b>Tercer nivel</b>
							%p{style:"margin-top: 2rem"}
								.input-field
									%select
										%option{value:"", disabled:"", selected:""} Elige el grupo
										%option{value:"1"} 611
										%option{value:"2"} 612
										%option{value:"3"} 613
									%label Grupo
							%p{style:"margin-top: 2rem"}
								.input-field
									%select{multiple:""}
										%option{value:"", disabled:"", selected:""} Elige a los alumnos
										%option{value:"1"} Willie Almaraz García
										%option{value:"2"} Mariana Alonzo Quintana
										%option{value:"3"} Joel Harim Hernández Javier
										%option{value:"4"} Roberto Gervacio Guendulay
									%label Grupo
							%a.wave-effect.waves-light.btn{href:"#"} Agregar
							%a.waves-effect.waves-light.btn{href:"#"} limpiar
							
						
				.col.s12.l7{:style=>"margin-top: 1em"}
					.row	
						.input-field.col.s12
							%input#titulo.validate{type:"text"}
							%label{for:"titulo"} Título del comunicado
						.input-field.col.s12
							%textarea#contenido-comunicado.materialize-textarea{type:"text", placeholder:"Texto", data:{length:"400"}}
							%label{for:"contenido-comunicado.materialize-textarea"}Contenido
						.col.s12.input-field
							%i.material-icons.prefix today
							%input#fecha2.datepicker{type:"date"}
							%label{for:"fecha2"} Fecha de término

						.col.s12.input-field
							%i.material-icons.prefix link
							%input#links1.validate{type:"text"}
							%label{for:"links1"} Link 1
						.col.s12.input-field
							%i.material-icons.prefix link
							%input#links2.validate{type:"text"}
							%label{for:"links2"} Link 2
						.col.s12
							%form{action:"#"}
								.file-field.input-field
									.btn
										%span
											%i.material-icons attach_file
										%input{type:"file", multiple:""}
									.file-path-wrapper
										%input.file-path.validate{type:"text", placeholder:"Archivos a subir"}
					
		



	%script{:type => "text/javascript", :src=>"https://code.jquery.com/jquery-3.1.1.min.js", :integrity=>"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
		:crossorigin=>"anonymous"}
	%script{:type=>"text/javascript", :src=>"../../js/materialize.js"}
	%script{:type=>"text/javascript", :src=>"../../js/main.js"}