!!!5
%html{:lang => "es"}
	%header
		%meta{:name => "viewport", :content=>"width=device-width, initial-scale=1"}
		%meta{:charset=> "UTF-8"}
		%link{:rel => "shortcut icon", :type=>"image/x-icon", :href => "../../images/favicon.ico"}/
		-#google icons
		%link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{:rel => "stylesheet", :href => "../../css/materialize.css", :media => "screen,projection"}/		
		%link{:rel => "stylesheet", :href => "../../css/style.css"}/
		%link{:rel => "stylesheet", :href => "../../css/animate.css"}/
		%title Gliphy Admin
	%body
		%ul#slide-out.side-nav{style:"background-color: #2B323A"}
			%li.userView
				.background
					%img{src:"../../images/office.jpg"}
				%a.white-bonis{href:"#"}
					%img.circle{src:"../../images/admin.jpg"}
				%a.white-bonis{href:"#"}
					%span.white-text.name Joel Hernández
					%span.white-text.email Admnistrador
			%li
				%a.white-bonis.waves-effect{href:"#"}
					%i.material-icons.left.white-bonis person
					Mi perfil
			%li
				%a.white-bonis.waves-effect{:href => "#!"} 
					%i.material-icons.left.white-bonis power_settings_new
					Salir
			
		%ul#navegacion1.side-nav.fixed{style:"width:240px; background-color: #2B323A"}
			
			%li
				.navbar-fixed
					%nav.negro-flat
			%p
			%li
				%a.waves-effect.white-bonis{href:"#"}
					%i.material-icons.left.white-bonis storage
					Base de Datos
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis account_circle
					Mis comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis add
					Agregar comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis search
					Búsqueda
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis error
					Ayuda
		%ul#navegacion-movil.side-nav{style:"width:240px; background-color: #2B323A"}
			%br
			%li
				%a.waves-effect.white-bonis{href:"#"}
					%i.material-icons.left.white-bonis storage
					Base de Datos
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis account_circle
					Mis comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis add
					Agregar comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis search
					Búsqueda
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis error
					Ayuda
		.navbar-fixed
			%nav.negro-flat
				.nav-wrapper
					%p.left
						%a.button-collapse1.hide-on-large-only.btn-flat.white-bonis.left{href:"#", data:{activates:"navegacion-movil"}}
							%i.material-icons{style:" line-height: 30px;"} menu
					%p.right
						%a.button-collapse2.btn-flat.white-bonis.left{href:"#", data:{activates:"slide-out"}}
							%i.material-icons.left{style:" line-height: 30px;"} apps
							OPCIONES
						

		-# ===================== CONTENIDO
		%main
			.fixed-action-btn.toolbar
				%a.btn-floating.btn-large.bar-menu-color.center.red.tooltipped.hoverable{data:{position:"left", delay:"50", tooltip:"Agregar"}}
					%i.material-icons add
				%ul
					%li
						%a.waves-effect.waves-light{:href => "#!"}
							%i.material-icons insert_chart
					%li
						%a.waves-effect.waves-light{:href => "#!"}
							%i.material-icons format_quote
					%li
						%a.waves-effect.waves-light{:href => "#!"}
							%i.material-icons publish
					%li
						%a.waves-effect.waves-light{:href => "#!"}
							%i.material-icons attach_file
			#mensaje-confirmar.modal
				.modal-content
					%h4 ¿Deseas continuar?
					%p Una vez publicado el comunicado no podrá ser cambiado. Revise los datos, y asegurese de que son correctos.
					%p.right
						%a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"#"} Volver
						%a.modal-action.modal-close.waves-effect.waves-green.btn{href:"#"} Publicar
			.row
				.col.s12{:style=>"margin: 1.5rem 0"}
					.row
						.col.s6
							.waves-effect.waves-light.btn.options-menu-color.medium-ancho Adminis <!-- <i class="material-icons left">account_circle</i> -->
							.waves-effect.waves-light.btn.options-menu-color.medium-ancho Profesores <!-- <i class="material-icons left">contacts</i> -->
							.waves-effect.waves-light.btn.options-menu-color.medium-ancho Alumnos <!-- <i class="material-icons left">face</i> -->
						.col.s6
							.waves-effect.waves-light.btn.options-menu-color.medium-ancho Grupos <!-- <i class="material-icons left">supervisor_account</i> -->
							.waves-effect.waves-light.btn.options-menu-color.medium-ancho Publicaciones <!-- <i class="material-icons left">art_track</i> -->
				.col.s12{:style=>"margin-top: 1em"}
					%table.striped.responsive-table
						%thead.fondo-color
							%tr
								%th{:data=>{:field=>"Select"}}
								%th{:data=>{:field=>"id"}} Id
								%th{:data=>{:field=>"Nombre"}} Nombre
								%th{:data=>{:field=>"ApellidoPaterno"}} Apellido Paterno
								%th{:data=>{:field=>"ApellidoMaterno"}} Apellido Materno
								%th{:data=>{:field=>"Grupo"}} Grupo
								%th{:data=>{:field=>"Edit"}}
								%th{:data=>{:field=>"Delete"}}
						%tbody
							%tr
								%td
									.input-field.col.s12
										%select
											%option{:value => "1"} a
								%td 01
								%td Willie
								%td Almaraz
								%td García
								%td 611
								%td
									.waves-effect.waves-light.btn-floating.btn-flat.abrir-btn <i class="material-icons negro-text">create</i>
								%td 
									.waves-effect.waves-light.btn-floating.btn-flat <i class="material-icons negro-text">delete</i>
							%tr
								%td
								%td 01
								%td Willie
								%td Almaraz
								%td García
								%td 611
								%td 
									.waves-effect.waves-light.btn-floating.btn-flat.abrir-btn <i class="material-icons negro-text">create</i>
								%td 
									.waves-effect.waves-light.btn-floating.btn-flat <i class="material-icons negro-text">delete</i>
							%tr
								%td
								%td 01
								%td Willie
								%td Almaraz
								%td García
								%td 611
								%td 
									.waves-effect.waves-light.btn-floating.btn-flat.abrir-btn <i class="material-icons negro-text">create</i>
								%td 
									.waves-effect.waves-light.btn-floating.btn-flat <i class="material-icons negro-text">delete</i>
					%ul.pagination
						%li.disabled <a href="#!"><i class="material-icons">chevron_left</i></a>
						%li.active
							%a{:href => "#!"} 1
						%li.waves-effect
							%a{:href => "#!"} 2
						%li.waves-effect <a href="#!"><i class="material-icons">chevron_right</i></a>

					%ul.fondo-color.collapsible{:data=>{:collapsible=>"acordion"}}
						%li#lista
							.collapsible-header <i class="material-icons right" id="flecha_up_down"> expand_more </i> Matricula
							.collapsible-body
								.row
									.col.s8.input-field
										%input.validate#matricula{:type => "text"}/
										%label.active{:for => "matricula"} Id
									.col.s8.input-field
										%input.validate#nombre{:type => "text"}/
										%label.active{:for => "nombre"} nombre
									.col.s8.input-field
										%input.validate#apellidop{:type => "text"}/
										%label.active{:for => "apellidop"} apellidop
									.col.s8.input-field
										%input.validate#apellidom{:type => "text"}/
										%label.active{:for => "apellidom"} apellidom
									.col.s8.input-field
										%input.validate#grupo{:type => "text"}/
										%label.active{:for => "grupo"} grupo
				
					
		



	%script{:type => "text/javascript", :src=>"https://code.jquery.com/jquery-3.1.1.min.js", :integrity=>"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
		:crossorigin=>"anonymous"}
	%script{:type=>"text/javascript", :src=>"../../js/materialize.js"}
	%script{:type=>"text/javascript", :src=>"../../js/main.js"}