-#=================================================================================
-#===================================== DISEÑO ======================================
-#=================================================================================
-menuLateral=[{title:"Inicio", link:"index.html", icon:"home"}, {title:"Base de Datos", link:"base.html", icon:"storage"},{title:"Publicaciones",link:"publications.html", icon:"account_circle"},{title:"Agregar",link:"new.html", icon:"add"},{title:"Ayuda", link:"help.html",icon:"error"}]
!!!5
%html{lang:"es"}
	%header
		-#=========================================
		-#============ Información - METAS ===============
		-#=========================================
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{charset: "UTF-8"}
		%link{rel:"shortcut icon", type:"image/x-icon", href: "../../images/favicon.ico"}/
		-#google icons
		%link{rel:"stylesheet", href:"http://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{rel:"stylesheet", href:"../../css/materialize.css", media: "screen,projection"}/		
		%link{rel: "stylesheet", href:"../../css/style.css"}/

		%link{rel:"stylesheet", href:"../../css/animate.css"}/
		%title Gliphy Admin

		-#Calendar
		%link{rel:"stylesheet", href:"../../css/calendar.css"}/
	%body
		-#=========================================
		-#=========== Barra de navegación ================
		-#=========================================
		.navbar-fixed
			%nav.negro-flat
				.nav-wrapper
					-#=========================================
					-#========= Botón Menú - No Large ================
					-#=========================================
					%p.left
						%a.button-collapse1.hide-on-large-only.btn-flat.white-bonis{style:"margin-top: -25px",href:"#", data:{activates:"navegacion-movil"}}
							%i.material-icons{style:" line-height: 30px"} menu
					-#=========================================
					-#====== Botón Menú - Opciones usuario ==============
					-#=========================================
					%p.right
						%a.button-collapse2.btn-flat.white-bonis.left.hide-on-small-only{href:"#",style:"text-transform: none", data:{activates:"slide-out"}}
							%img.admin-img.left{src:"../../images/admin.jpg"}
							Joel Hernández
						%a.button-collapse2.btn-flat.white-bonis.left.hide-on-med-and-up{href:"#", data:{activates:"slide-out"}}
							%i.material-icons.left{style:" line-height: 30px;"} apps
							OPCIONES
					-#=========================================
					-#========== Navegación - menú =================
					-#=========================================
					.col.s8.margincito-left.hide-on-small-only.truncate
						%a.breadcrumb{href:""} Gliphy Admin
						%a.breadcrumb{href:""} Publicaciones
		-#=========================================
		-#=========== Opciones de usuario ================
		-#=========================================
		%ul#slide-out.side-nav.lateral-admin
			%li.userView
				.background
					%img{src:"../../images/office.jpg"}
				.white-bonis
					%img.circle{src:"../../images/admin.jpg"}
					%span.white-text.name Joel Hernández
					%span.white-text.email.separado Admnistrador
			%li
				%a.white-bonis.waves-effect{href:"#"}
					%i.material-icons.left.white-bonis person
					Mi perfil
			%li
				%a.white-bonis.waves-effect{href:"#!"} 
					%i.material-icons.left.white-bonis power_settings_new
					Salir
		-#=========================================
		-#========== Menú navegación - Large ==============
		-#=========================================
		%ul#navegacion1.side-nav.fixed.lateral-admin{style:"width:240px;margin-top:63px;"}
			%br/
			-menuLateral.each do |item|				
				%li
					%a.waves-effect.white-bonis{href: item[:link]}
						%i.material-icons.left.white-bonis=item[:icon] 
						=item[:title]
				%br/
		-#=========================================
		-#======== Menú navegación - Responsive ============
		-#=========================================
		%ul#navegacion-movil.side-nav.lateral-admin{style:"width:240px"}
			%br/
			-menuLateral.each do |item|				
				%li
					%a.waves-effect.white-bonis{href:item[:link]}
						%i.material-icons.left.white-bonis=item[:icon] 
						=item[:title]
				%br/
		-#=================================================================
		-#========================= Contenido - Layout ===========================
		-#=================================================================
		%main
			-#===============Boton buscar================
			.fixed-action-btn
				%a.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped.hoverable{href:"#buscar", data:{position:"left", delay:"50", tooltip:"Buscar"}}
					%i.material-icons search
			-#===============Mensaje de buscar=============
			#buscar.modal.bottom-sheet
				.modal-content
					%h5 Ingrese el término de la búsqueda
					%br/
					.input-field
						%i.material-icons.prefix search
						%input#links1.validate{type:"text"}
						%label{for:"links1"} Búsqueda

				.modal-footer
					%p.right
						
						%a.modal-action.modal-close.waves-effect.waves-green.btn{href:"#"} Buscar
						%a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"#"} Volver
			-#============Dirigido a ============
			#dirigido.modal
				.modal-content
					%h4 Dirigido a:
					.chip 
						%i.icono-on-chip.material-icons person
						Grupo_1
					.chip 
						%i.icono-on-chip.material-icons person
						Grupo_2
					%p.right
						%a.modal-action.modal-close.waves-effect.btn-flat{href:"#!"} Volver
			-#==========Cotenido-destacado =========
			#contenido-destacado.modal.modal-fixed-footer{style:"max-height: 80%; height: 80%; width: 90%"}
				.modal-content{style:"padding: 0px"}
					.card{style:"margin: 0"}
						.card-image
							%img.responsive-img{src:"/../../images/comunicados/examen-1.jpg"}
							%span.card-title Título del comunicado
							%a.btn-floating.halfway-fab.waves-effect.waves-light.red
								%i.material-icons star
						.card-content
							%p.indigo-text.accent-1-text.truncate{style:"padding-bottom: 10px"}
								%i.material-icons.left today
								Fecha_publicación
							%p.indigo-text.accent-1-text.truncate{style:"padding-bottom: 10px"}
								%i.material-icons.left person
								Publicado por: Persona_1
							%p.indigo-text.accent-1-text.truncate{style:"padding-bottom: 15px"}
								%i.material-icons.left group
								Dirigido a: Grupo_1, Grupo_2
								%span.right
									%a{href:"#dirigido"} Ver todo
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
							%p{style:"margin-top: 1em"}
								.chip 
									%i.icono-on-chip.material-icons attachment
									%a.grey-text.text-darken-1{href:"#!"} Archivo adjunto1
								.chip 
									%i.icono-on-chip.material-icons attachment
									%a.grey-text.text-darken-1{href:"#!"} Archivo adjunto1
								.chip 
									%i.icono-on-chip.material-icons link
									%a.grey-text.text-darken-1{href:"#!"} Link_1
						.card-action
							%p Hola
				.modal-footer
					%a.modal-action.modal-close.waves-effect.btn-flat{href:"#!"} Volver
			-#===============Principal contenido===========
			.row				
				.col.s12
					%h3.red-text.center-align Publicaciones
				-#=========== CALENDAR ==================
				.col.s12.l4
					%h5.truncate.center-align Calendario
					#calendar
				-#=========== COMUNICADOS ==================
				.col.s12.l8
					.col.s12
						%h5.truncate.center-align Comunicados
						%ul.tabs.tabs-fixed-width
							%li.tab
								%a.active{href: "#destacados"} Destacados
							%li.tab
								%a{href:"#dia"} Actuales
					-#=========== DESTACADOS ==================
					#destacados
						.col.s12 
							.card
								.card-title.grey-text.text-darken-4.truncate.blue-grey.lighten-3{style:"padding: 15px !important"}
									Título del comunicado
									%a{href:"#contenido-destacado"}
										%i.material-icons.right visibility
								.card-content{style:"padding: 15px !important"}
									%p
										Esto es un preview del texto y no acabarás de lee...
									%p{style:"margin-top: 1em"}
										.chip
											%i.icono-on-chip.material-icons today
											Fecha
										.chip 
											%i.icono-on-chip.material-icons person
											Persona_1
										.chip 
											%i.icono-on-chip.material-icons equalizer
											Visto 
										.chip
											%i.icono-on-chip.material-icons attachment
											Adjuntos
						
					-#=========== COMUNICADOS DIARIO - CARDS ==================
					#dia
						.col.s12.m6
							.col.s12
								%h4.blue-text.truncate Abril 18
							.col.s12
								%p
									.input-field
										%i.material-icons.prefix.center-align sort
										%select
											%option{value:"", disabled:"", selected:""} Elige el orden
											%option{value:"0"} Fecha de publicación
											%option{value:"1"} Importancia
										%label Ordenar por:
							.col.s12
								%p
									%input#self.with-gap{name:"grupo1", type:"checkbox"}
									%label.black-text{for:"self",style:"margin-left: 1rem"} Mostrar sólo mis publicaciones
							.col.s12
								.card
									.card-title.grey-text.text-darken-4.truncate.blue-grey.lighten-3{style:"padding: 15px !important"}
										Título del comunicado
										%a{href:"#contenido-comunicado"}
											%i.material-icons.right visibility
									.card-content{style:"padding: 15px !important"}
										%p
											Esto es un preview del texto y no acabarás de lee...
										%p{style:"margin-top: 1em"}
											.chip
												%i.icono-on-chip.material-icons today
												Fecha
											.chip 
												%i.icono-on-chip.material-icons person
												Persona_1
											.chip 
												%i.icono-on-chip.material-icons equalizer
												Visto 
											.chip
												%i.icono-on-chip.material-icons attachment
												Adjuntos
								.card
									.card-title.grey-text.text-darken-4.truncate.blue-grey.lighten-3{style:"padding: 15px !important"}
										Título del comunicado
										%a{href:"#contenido-comunicado"}
											%i.material-icons.right visibility
									.card-content{style:"padding: 15px !important"}
										%p
											Esto es un preview del texto y no acabarás de lee...
										%p{style:"margin-top: 1em"}
											.chip
												%i.icono-on-chip.material-icons today
												Fecha
											.chip 
												%i.icono-on-chip.material-icons person
												Persona_1
											.chip 
												%i.icono-on-chip.material-icons equalizer
												Visto 
											.chip
												%i.icono-on-chip.material-icons attachment
												Adjuntos
								.card
									.card-title.grey-text.text-darken-4.truncate.blue-grey.lighten-3{style:"padding: 15px !important"}
										Título del comunicado
										%a{href:"#contenido-comunicado"}
											%i.material-icons.right visibility
									.card-content{style:"padding: 15px !important"}
										%p
											Esto es un preview del texto y no acabarás de lee...
										%p{style:"margin-top: 1em"}
											.chip
												%i.icono-on-chip.material-icons today
												Fecha
											.chip 
												%i.icono-on-chip.material-icons person
												Persona_1
											.chip 
												%i.icono-on-chip.material-icons equalizer
												Visto 
											.chip
												%i.icono-on-chip.material-icons attachment
												Adjuntos
								.card
									.card-title.grey-text.text-darken-4.truncate.blue-grey.lighten-3{style:"padding: 15px !important"}
										Título del comunicado
										%a{href:"#contenido-comunicado"}
											%i.material-icons.right visibility
									.card-content{style:"padding: 15px !important"}
										%p
											Esto es un preview del texto y no acabarás de lee...
										%p{style:"margin-top: 1em"}
											.chip
												%i.icono-on-chip.material-icons today
												Fecha
											.chip 
												%i.icono-on-chip.material-icons person
												Persona_1
											.chip 
												%i.icono-on-chip.material-icons equalizer
												Visto 
											.chip
												%i.icono-on-chip.material-icons attachment
												Adjuntos
						-#=========== CONTENIDO DEL COMUNICADO ==================
						.col.s12.m6
							#contenido-comunicado.card
								.card
									.card-image
										%img.responsive-img{src:"/../../images/comunicados/examen-1.jpg"}
										%span.card-title Título del comunicado
										%a.btn-floating.halfway-fab.waves-effect.waves-light.red
											%i.material-icons star
									.card-content
										%p.indigo-text.accent-1-text.truncate{style:"padding-bottom: 10px"}
											%i.material-icons.left today
											Fecha_publicación
										%p.indigo-text.accent-1-text.truncate{style:"padding-bottom: 10px"}
											%i.material-icons.left person
											Publicado por: Persona_1
										%p.indigo-text.accent-1-text.truncate{style:"padding-bottom: 15px"}
											%i.material-icons.left group
											Dirigido a: Grupo_1, Grupo_2
											%span.right
												%a{href:"#dirigido"} Ver todo
										%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

										%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
										%p{style:"margin-top: 1em"}
											.chip 
												%i.icono-on-chip.material-icons attachment
												%a.grey-text.text-darken-1{href:"#!"} Archivo adjunto1
											.chip 
												%i.icono-on-chip.material-icons attachment
												%a.grey-text.text-darken-1{href:"#!"} Archivo adjunto1
											.chip 
												%i.icono-on-chip.material-icons link
												%a.grey-text.text-darken-1{href:"#!"} Link_1
									.card-action
										%p Hola



	-#=================================================================
	-#============================= Scripts ===============================
	-#=================================================================

	%script{type:"text/javascript", src:"https://code.jquery.com/jquery-3.1.1.min.js", integrity:"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin:"anonymous"}

	-#Calendar
	%script{src:"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}

	%script{:type=>"text/javascript", :src=>"../../../js/materialize.js"}
	%script{:type=>"text/javascript", :src=>"../../../js/main.js"}
	-#Calendar
	%script{src:"../../../js/jquery-ui-datepicker.min.js"}
	%script{src:"../../../js/calendar.js"}