!!!5
%html{lang: "es"}
	%head
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{charset:"UTF-8"}
		%meta{content:"Plantel Azteca, Gliphy, GliphyHub, gliphy", name: "keywords"}
		%meta{content:"GliplyHub, aquí podrás acceder a tus tareas y pendientes.", name: "description"}
		%meta{content:"TeamDevs", name: "author"}
		%meta{content:"TeamDevs", name: "owner"}
		%meta{content:"index/follow", name: "robots"}
		%meta{name: "theme-color", content: "#1e88e5"}
		%link{rel:"shortcut icon", type:"image/x-icon",  href:  "images/favicon.ico"}/
		-#google icons
		%link{rel:"stylesheet", href: "http://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{rel:"stylesheet",  href:  "css/materialize.css", media: "screen,projection"}/		
		%link{rel:"stylesheet", href:  "css/gliphy.css"}/
		%link{rel:"stylesheet",  href:  "css/animate.css"}/
		%title GliphyHub

	%body
		%main.main-login
			.contenedor-login
				.login-before
				.login
					#particles
					.profile-card.profileAnimated
						.logotipo-login.blue-grey.lighten-5.animate
							%a
								%img{src:"images/favicon.ico"}
							%h1
								%span GliphyHub
						%form#inicialForm.profile-bio.blue-grey.lighten-5.animate
							.input-field.col.s12
								%i.material-icons.prefix.medium account_circle
								%input.validate#user{type: "email"}/
								%label{for: "user"} Correo
							.input-field.col.s12
								%i.material-icons.prefix.medium lock_outline
								%input.validate#pass{type: "password"}/
								%label{for: "pass"} Contraseña
							%button.col.s12.btn.waves-effect.waves-light{type: "submit"}
								%span.upper IIniciar sesión
								%i.material-icons.right send
							.col.s12.forget
								%a#forget.upper{href: "#!"} olvidé mi contraseña
							
						%form#forgotten.profile-bio.blue-grey.lighten-5
							.left.backLogin
								%a#backLogin.btn-flat.btn-square
									%i.material-icons.prefix.medium arrow_back
							.col.s12
								%h5 ¿Olvidaste tu contraseña?
							.col.s12
								%p.jus.text-normal
									%span Si olvidate tu contraseña, ingresa en el campo de abajo tu
									%strong correo con el cual te registrate
									%span en la plataforma, para que nosotros podamos ayudarte a recuperar tu cuenta
							.input-field.col.s12
								%i.material-icons.prefix.medium email
								%input.validate#user{type: "email"}/
								%label{for: "user"} Correo
							%button.col.s12.btn.waves-effect.waves-light{type: "submit"}
								%span Recuperar mi cuenta

			%ul#dropdown1.dropdown-content.flechita
				%li
					%a.grey-text.text-darken-4{href:"#about"} Sobre
				%li
					%a.grey-text.text-darken-4{href:"#desc"} Características
				%li
					%a.grey-text.text-darken-4{href:"#team"} Team
			%nav{style:"z-index: 40"}
				.nav-wrapper.blue
					%span.left{style: "margin-left: 10px"} Sobre nosotros
					%ul.right
						%li
							%a.dropdown-button{href:"#!", data:{activates:"dropdown1"}} 
								%span{style:"margin-right: 60px"} Menú
								%i.material-icons.right arrow_drop_down
			
			.deslizable
				#about.section.scrollspy
				.article
					.container
						.row
							.col.s12
								%h2.blue-text.text-darken-3 ¿Quiénes somos?
							
							.col.s12
								%p.flow-text.jus.text-presentation
									%span Somos una plataforma enfocada en la interacción entre la comunidad escolar y el cuerpo administrativo del plantel, innovando así la
									%strong comunicación
									%span . Nuestra 
									%strong misión 
									%span fue crear una nueva plataforma, que mejorara la experiencia de usuario y enriqueciera el ambiente de la comunidad escolar. 
									%br
									%span Lo que logramos, fue
									%strong mejor.
				#desc.section.scrollspy
				.container	
					.row.title-gif
						.col.s12.m6.center
							%h2.blue-text.text-darken-3 Características
						.col.s12.m6.center
							%img.responsive-img{src: "images/inicio.gif"}

				.article.blue.lighten-1.white-text
					.container
						.row
							.col.s12.m6.l4
								.center.space-login
									%i.grande.material-icons.white-text flash_on
									%h5 Acelera la comunicación
									%p.center Esta plataforma está diseñada para hacer que la comunicación entre los alumnos, tutores y autoridades del <b>plantel</b> sea más efectiva y rápida.
							.col.s12.m6.l4
								.center.space-login
									%i.grande.material-icons.white-text group
									%h5 Enfocado al plantel
									%p.center Se ha desarrollado un diseño intuitivo, fácil de leer y amigable, que permite que todos los usuarios se sientan bien con GliphyHub, el lugar <b>ideal</b> para la comunicación escolar.
							.col.s12.m12.l4
								.center.space-login
									%i.grande.material-icons.white-text important_devices
									%h5 Totalmente Responsivo
									%p.center El diseño fue una de nuestras prioridades al diseñar este sitio. Se adapta, <b>evoluciona</b>, para que accedas cómodamente desde el dispositivo que quieras.
				#team.section.scrollspy
				.article
					.col.s12.center.section-Title
						%h2.blue-text.text-darken-3 El equipo
					.container
						.row
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Joel Hernández
											%strong.truncate
												%i.material-icons.left{style:"margin-top: 3px;  margin-right: 5px"} edit
												%span{style:"display: inline-block;"} Desarrollador Web
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/joel.jpg"}
											.mc-description.white-text
												%span Esto es una breve descripción sobre mí
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons{style:"line-height: 2.2"} menu
										.mc-footer.blue.lighten-3
											%h4
												%span.white-text Contacto
											%a.center-align.blue.lighten-1
												%i.material-icons settings
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Roberto Gervacio
											%strong.truncate
												%i.material-icons.left{style:"margin-top: 3px;  margin-right: 5px"} edit
												%span{style:"display: inline-block;"} Desarrollador Web
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/roberto.jpg"}
											.mc-description.white-text
												%span Esto es una breve descripción sobre mí
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons{style:"line-height: 2.2"} menu
										.mc-footer.blue.lighten-3
											%h4
												%span.white-text Contacto
											%a.center-align.blue.lighten-1
												%i.material-icons settings
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Willie Almaraz
											%strong.truncate
												%i.material-icons.left{style:"margin-top: 3px;  margin-right: 5px"} edit
												%span{style:"display: inline-block;"} Desarrollador Web
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/teacher01.jpg"}
											.mc-description.white-text
												%span Esto es una breve descripción sobre mí
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons{style:"line-height: 2.2"} menu
										.mc-footer.blue.lighten-3
											%h4
												%span.white-text Contacto
											%a.center-align.blue.lighten-1
												%i.material-icons settings
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Ana Morales
											%strong.truncate
												%i.material-icons.left{style:"margin-top: 3px;  margin-right: 5px"} edit
												%span{style:"display: inline-block;"} Desarrollador Web
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/teacher01.jpg"}
											.mc-description.white-text
												%span Esto es una breve descripción sobre mí
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons{style:"line-height: 2.2"} menu
										.mc-footer.blue.lighten-3
											%h4
												%span.white-text Contacto
											%a.center-align.blue.lighten-1
												%i.material-icons settings
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Noé
											%strong.truncate
												%i.material-icons.left{style:"margin-top: 3px;  margin-right: 5px"} edit
												%span{style:"display: inline-block;"} Desarrollador Web
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/teacher01.jpg"}
											.mc-description.white-text
												%span Esto es una breve descripción sobre mí
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons{style:"line-height: 2.2"} menu
										.mc-footer.blue.lighten-3
											%h4
												%span.white-text Contacto
											%a.center-align.blue.lighten-1
												%i.material-icons settings
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Mariana Alonzo
											%strong.truncate
												%i.material-icons.left{style:"margin-top: 3px;  margin-right: 5px"} edit
												%span{style:"display: inline-block;"} Desarrollador Web
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/teacher01.jpg"}
											.mc-description.white-text
												%span Esto es una breve descripción sobre mí
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons{style:"line-height: 2.2"} menu
										.mc-footer.blue.lighten-3
											%h4
												%span.white-text Contacto
											%a.center-align.blue.lighten-1
												%i.material-icons settings


					
			-#		.row
			-#			%a.col.s12.m3{:href => "https://github.com/robtry", :target=>"_blank"}
			-#				.card
			-#					%br/
			-#					%img.responsive-img{src: "images/roberto1.png"}
			-#					.card-content
			-#						%span.card-title.negro-text Roberto
			-#						%p.negro-text <b>FrontEnd</b> y <b>BackEnd</b>
			-#						%p Developer
			-#			%a.col.s12.m3.hoverable{:href => "https://omegaup.com/profile/CRWillieAlmaraz/" , :target=>"_blank"}
			-#				.card
			-#					%br/
			-#					%img.responsive-img{src: "images/willie1.png"}
			-#					.card-content
			-#						%span.card-title.negro-text Willie
			-#						%p.negro-text <b>DataBase</b> y <b>BackEnd</b>
			-#						%p Desarrollador
			-#			%a.col.s12.m3.hoverable{:href => "", :target=>"_blank"}
			-#				.card					
			-#					%br/
			-#					%img.responsive-img{src: "images/joel1.png"}
			-#					.card-content
			-#						%span.card-title.negro-text Joel
			-#						%p.negro-text <b>FrontEnd</b> y <b>BackEnd</b>
			-#						%p Diseñador y desarrollador
			-#			%a.col.s12.m3.hoverable{:href => "https://www.facebook.com/AnSethLedger", :target=>"_blank"}
			-#				.card
			-#					%br/
			-#					%img.responsive-img{src: "images/avatar2.png"}
			-#					.card-content
			-#						%span.card-title.negro-text Ana
			-#						%p.negro-text <b>Documentation</b>
			-#						%p Documentador
			-#			%a.col.s12.m3.hoverable{:href => "https://www.instagram.com/iker_camacho/", :target=>"_blank"}
			-#				.card
			-#					%br/
			-#					%img.responsive-img{src: "images/noe1.png"}
			-#					.card-content
			-#						%span.card-title.negro-text Noé
			-#						%p.negro-text <b>Documentation</b>
			-#						%p Documentador
			-#			%a.col.s12.m3.hoverable{:href => "https://www.instagram.com/marianazq13/", :target=>"_blank"}
			-#				.card
			-#					%br/
			-#					%img.responsive-img{src: "images/mariana1.png"}
			-#					.card-content
			-#						%span.card-title.negro-text Mariana
			-#						%p.negro-text <b>Documentation</b>
			-#						%p Documentador
			-#		/
			-#			.col.s12.m2
		%footer.page-footer.blue
			.container
				.row
					.col.s12.m6
						%img{src:"images/ghh.png", alt:""}/
						%h5.white-text Inspiring innovation
			.footer-copyright
				.container
					%span{style:"line-height: 2.5"} ©2017 #TeamDevs
					%a.waves-effect.waves-light.btn.right{href:"https://github.com/gliphyhub", target:"_blank"} Github
			
	%script{type:"text/javascript",src:"https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"}		
	%script{type:"text/javascript", src:"https://code.jquery.com/jquery-3.1.1.min.js",integrity:"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin:"anonymous"}
	%script{src:"http://jnicol.github.io/particleground/js/jquery.particleground.js"}
	%script{type:"text/javascript", src:"js/materialize.js"}
	%script{type:"text/javascript", src:"js/gliphy.js"}
	%script{type:"text/javascript", src:"js/index.js"}
