!!!5
%html{lang: "es"}
	%head
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{charset:"UTF-8"}
		%meta{content:"Plantel Azteca, Gliphy, GliphyHub, gliphy", name: "keywords"}
		%meta{content:"GliplyHub, aquí podrás acceder a tus tareas y pendientes.", name: "description"}
		%meta{content:"TeamDevs", name: "author"}
		%meta{content:"TeamDevs", name: "owner"}
		%meta{content:"index/follow", name: "robots"}
		%meta{name: "theme-color", content: "#2E5EC6"}
		%link{rel:"shortcut icon", type:"image/x-icon",  href:  "images/favicon.ico"}/
		-#google icons
		%link{rel:"stylesheet", href: "http://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{rel:"stylesheet",  href:  "css/materialize.css", media: "screen,projection"}/		
		%link{rel:"stylesheet", href:  "css/gliphy.css"}/
		%link{rel:"stylesheet",  href:  "css/animate.css"}/
		%title GliphyHub

	%body
		-#=========================================
		-#======== Menú navegación - Responsive ============
		-#=========================================
		%ul#menu-login.side-nav.blue
			%br/
			%li
				%a.waves-effect.white-bonis{href:"#about"}
					%span Acerca de
			%li
				%a.waves-effect.white-bonis{href:"#desc"}
					%span Características
			%li
				%a.waves-effect.white-bonis{href:"#team"} 
					%span Team
		-#=========================================
		-#=========== Mensaje de confirmación ============
		-#=========================================
		#mensaje-01.modal
			.modal-content.center
				%img{src:"images/login/message.png"}
				%h5 Te enviaremos un correo muy pronto
				%p Revisa tu correo en unos minutos, así podrás recuperar su cuenta
				%p.right
					%a.modal-action.modal-close.waves-effect.btn-flat{href:"#!"} Volver
		%main.main-login
			-#======= Parte principal ==========
			.index-first.z-depth-2
				-#======== Animación inicial ===========
				.back
				-#======== Particles ===========
				#particles.fixed.z-depth-2
				-#======== Nav bar de navegación ===========
				%nav.nav-index
					.nav-wrapper
						%ul.right.hide-on-med-and-down
							%li
								%a{href:"#about"}
									%span Acerca de
							%li
								%a{href:"#desc"}
									%span Características
							%li
								%a{href:"#team"} 
									%span Team
						%ul.right
							%li.hide-on-large-only
								%a#login-activator.btn-flat{href:"#", data:{activates:"menu-login"}}
									%i.material-icons.white-text menu
				-#======== Contenido de la parte principal ===========
				.row.no-margin
					.col.s12.m6.center-align
						%img.hide-on-small-only{src:"images/login/logo-horizontal-w-s.png"}
						%img.hide-on-med-and-up.left{src:"images/login/logo-s.png"}
					.ingresar.col.s12.m5
						%form
							.col.s12.white-bonis
								%h4.hide-on-small-only Bienvenido
								%h4.hide-on-med-and-up Bienvenido a GliphyHub
								%h6 Ingrese su nombre de usuario y contraseña para acceder a la plataforma
							.input-field.col.s12.l6
								%i.material-icons.prefix.medium account_circle
								%input.validate#user{type: "email"}/
								%label{for: "user"} Correo
							.input-field.col.s12.l6
								%i.material-icons.prefix.medium lock_outline
								%input.validate#pass{type: "password"}/
								%label{for: "pass"} Contraseña
							%button.col.s12.btn.waves-effect.waves-light{type: "submit"}
								%span.upper Ingresar
							.col.s12.forget.center-align
								%a.upper.white-bonis{href: "#!"} ¿olvidó su contraseña?
					.olvide.col.s12.m5.white-text
						.left
							%a#back-to-ingresar.btn-flat.btn-square
								%i.material-icons.prefix.medium arrow_back
						.col.s12
							%h5 ¿Olvidó su contraseña?
						.col.s12
							%p.jus.text-normal
								%span Si olvidó su contraseña, ingrese en el campo de abajo el
								%strong correo con el cual se registró
								%span en la plataforma, para que nosotros podamos ayudarle a recuperar tu cuenta
						.input-field.col.s12
							%i.material-icons.prefix.medium email
							%input.validate#rcorreo{type: "email"}/
							%label{for: "user"} Correo
						%button#rbutton.col.s12.btn.waves-effect.waves-light{type: "submit"}
							%span Recuperar mi cuenta

				.bolita
						
			.index-content
				#about.section.scrollspy
				%article.center
					.row
						.col.s12
							%h2 La mejor manera de comunicarse ha llegado
						
						.col.s12
							%p.text-presentation
								%span Somos una plataforma enfocada en la interacción entre la comunidad escolar y el cuerpo administrativo del plantel, innovando así la
								%strong comunicación
								%span . Nuestra 
								%strong misión 
								%span fue crear una nueva plataforma, que mejorara la experiencia de usuario y enriqueciera el ambiente de la comunidad escolar. 
								%br
								%span Lo que logramos, fue
								%strong mejor.
						.col.s12.m6.l4
							.space-login.left-align
								.col.s12
									%i.material-icons.left flash_on
									%h5 Acelera la comunicación
								.col.s12
									%p Esta plataforma está diseñada para hacer que la comunicación entre los alumnos, tutores y autoridades del <b>plantel</b> sea más efectiva y rápida.
						.col.s12.m6.l4
							.space-login.left-align
								.col.s12
									%i.material-icons.left group
									%h5 Enfocado al plantel
								.col.s12
									%p Se ha desarrollado un diseño intuitivo, fácil de leer y amigable, que permite que todos los usuarios se sientan bien con GliphyHub, el lugar <b>ideal</b> para la comunicación escolar.
						.col.s12.m12.l4
							.space-login.left-align
								.col.s12
									%i.material-icons.left important_devices
									%h5 Totalmente responsivo
								.col.s12
									%p El diseño fue una de nuestras prioridades al diseñar este sitio. Se adapta, <b>evoluciona</b>, para que accedas cómodamente desde el dispositivo que quieras.
				#desc.section.scrollspy
				.container	
					.row.title-gif
						.col.s12.m6.center
							%h2 Características
						.col.s12.m6.center
							%img.responsive-img{src: "images/inicio.gif"}

				.article.blue.lighten-1.white-text
					.container
						.row
							.col.s12.m6.l4
								.center.space-login
									%i.grande.material-icons.white-text flash_on
									%h5 Acelera la comunicación
									%p.center Esta plataforma está diseñada para hacer que la comunicación entre los alumnos, tutores y autoridades del <b>plantel</b> sea más efectiva y rápida.
							.col.s12.m6.l4
								.center.space-login
									%i.grande.material-icons.white-text group
									%h5 Enfocado al plantel
									%p.center Se ha desarrollado un diseño intuitivo, fácil de leer y amigable, que permite que todos los usuarios se sientan bien con GliphyHub, el lugar <b>ideal</b> para la comunicación escolar.
							.col.s12.m12.l4
								.center.space-login
									%i.grande.material-icons.white-text important_devices
									%h5 Totalmente Responsivo
									%p.center El diseño fue una de nuestras prioridades al diseñar este sitio. Se adapta, <b>evoluciona</b>, para que accedas cómodamente desde el dispositivo que quieras.
				#team.section.scrollspy
				.article
					.col.s12.center.section-Title
						%h2.blue-text.text-darken-3 El equipo
					.container
						.row
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Joel Hernández
											%strong.truncate.mc-title
												%span.trun  FrontEnd
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/login/joel.jpg"}
											.mc-description.white-text
												%span Desarrollador, maker, atraído por la ciencia y la tecnología. ¿Su más grande sueño?, viajar por las estrellas
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons menu
										.mc-footer.blue.lighten-3
											%a.center-align.blue.lighten-1{href:"https://github.com/joelhernandez343", target:"_blank"}
												%img{src:"images/login/git.png"}
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Roberto Gervacio
											%strong.truncate.mc-title
												%span.trun  FullStack
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/login/roberto.jpg"}
											.mc-description.white-text
												%span Futuro ingeniero en tecnologías de cómputo, apasionado por Linux y el código libre
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons menu
										.mc-footer.blue.lighten-3
											%a.center-align.blue.lighten-1{href:"https://github.com/robtry", target:"_blank"}
												%img{src:"images/login/git.png"}
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Willie Almaraz
											%strong.truncate.mc-title
												%span.trun  BackEnd
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/login/teacher01.jpg"}
											.mc-description.white-text
												%span Joven estudiante desarrollador de código, con habilidades en físico-matemáticas
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons menu
										.mc-footer.blue.lighten-3
											%a.center-align.blue.lighten-1{href:"https://omegaup.com/profile/CRWillieAlmaraz/", target:"_blank"}
												%img{src:"images/login/oup.png"}
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Ana Morales
											%strong.truncate.mc-title
												%span.trun  Documentación
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/login/ana.jpg"}
											.mc-description.white-text
												%span Esto es una breve descripción sobre mí
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons menu
										.mc-footer.blue.lighten-3
											%a.center-align.blue.lighten-1{href:"https://www.facebook.com/AnSethLedger", target:"_blank"}
												%img{src:"images/login/facebook.png"}
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Noé Camacho
											%strong.truncate.mc-title
												%span.trun  Documentación
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/login/noe.jpg"}
											.mc-description.white-text
												%span Canto, baile, caminar sin rumbo y viajar son mis más grandes placeres en la vida
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons menu
										.mc-footer.blue.lighten-3
											%a.center-align.blue.lighten-1{href:"https://www.instagram.com/iker_camacho/", target:"_blank"}
												%img{src:"images/login/instagram.png"}
											
							.col.s12.m6.l4
								.team
									%article.material-card
										%h2.blue
											%span.truncate Mariana Alonzo
											%strong.truncate.mc-title
												%span.trun Documentación
										.mc-content.blue.lighten-1
											.img-container
												%img.responsive-img.white{src:"images/login/teacher01.jpg"}
											.mc-description.white-text
												%span Análisis. Aspirante a ingeniera aeronauta
										%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
											%i.material-icons menu
										.mc-footer.blue.lighten-3
											%a.center-align.blue.lighten-1{href:"https://www.instagram.com/marianazq13/", target:"_blank"}
												%img{src:"images/login/instagram.png"}
		%footer.page-footer.blue
			.container
				.row
					.col.s12.m6
						%img{src:"images/login/logo-horizontal-w-s.png", alt:""}/
						%h5.white-text Uniendo a la comunidad
			.footer-copyright
				.container
					%span{style:"line-height: 2.5"} ©2017 | #TeamDevs
					%a.waves-effect.waves-light.btn.right{href:"https://github.com/gliphyhub", target:"_blank"} Github
			

					
	%script{type:"text/javascript", src:"https://code.jquery.com/jquery-3.1.1.min.js",integrity:"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin:"anonymous"}
	%script{src:"http://jnicol.github.io/particleground/js/jquery.particleground.js"}
	%script{type:"text/javascript", src:"js/materialize.js"}
	%script{type:"text/javascript", src:"js/gliphy.js"}
	%script{type:"text/javascript", src:"js/index.js"}
