-menu=[{title: "¿Quienes somos?", link:"#aboutus"},{title:"Sobre GliphyHub", link: "#work"},{title: "Experiencias",link:"#testimony"},{title:"Equipo",link:"#team"},{title:"Contacto",link:"#contact"}]
!!!5
%html{:lang => "es"}
	%head
		%meta{:name => "viewport", :content=>"width=device-width, initial-scale=1"}
		%meta{:charset=> "UTF-8"}
		%meta{:content =>"Plantel Azteca, Gliphy, GliphyHub, gliphy", :name => "keywords"}
		%meta{:content =>"GliplyHub, aquí podrás acceder a tus tareas y pendientes.", :name => "description"}
		%meta{:content =>"TeamDevs", :name => "author"}
		%meta{:content =>"TeamDevs", :name => "owner"}
		%meta{:content =>"index/follow", :name => "robots"}
		%link{:rel => "shortcut icon", :type=>"image/x-icon", :href => "images/favicon.ico"}/
		-#google icons
		%link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{:rel => "stylesheet", :href => "css/materialize.css", :media => "screen,projection"}/
		%link{:rel => "stylesheet", :href => "css/style.css"}/
		%title GliphyHub

	%body
		#particles.block
		#log-in.center
			.row
				.col.s12
					%img.responsive-img{:src => "images/gh.png", :alt => "logo"}/
				%form.col.s12
					.row
						.input-field.col.s12.m6
							%i.material-icons.prefix.medium account_circle
							%input.validate#user{:type => "email"}/
							%label{:for => "user"} Correo
						.input-field.col.s12.m6
							%i.material-icons.prefix.medium lock_outline
							%input.validate#pass{:type => "password"}/
							%label{:for => "pass"} Contraseña
						.col.m4.hide-on-small-only
						%button.col.s12.m4.btn.waves-effect.waves-light{:type=>"submit"}
							INCIAR SESIÓN 
							%i.material-icons.right send
		#aboutus.block
			%nav.pushpin-demo-nav{:data =>{:target => "aboutus"}}
				.nav-wrapper.light.blue
					.container
						%a.brand-logo Sobre nosotros
						%ul.right.hide-on-med-and-down
							%li
								%a{:href => "#aboutg"}Sobre GliphyHub
							%li
								%a{:href => "#team"}Team
			%br/
			%br/
			%br/
			%br/
			.container
				.row
					.col.s12
						%p.flow-text.center.text-presentation Somos una plataforma para la interacción entre la comunidad escolar y el cuerpo administrativo del plantel, innovando así la <b>comunicación</b>. Nuestra <b>misión</b> fue crear una plataforma innovadora, que mejorara la experiencia de usuario y enriqueciera el ambiente de la comunidad escolar.
						%p.flow-text.center.text-presentation Lo que logramos fue algo <b><i>mejor</i>.</b>
		#aboutg.block
			%nav.pushpin-demo-nav{:data =>{:target => "aboutg"}}
				.nav-wrapper.light.blue
					.container
						%a.brand-logo Sobre GliphyHub
						%ul.right.hide-on-med-and-down
							%li
								%a{:href => "#aboutus"}Sobre Nosotros
							%li
								%a{:href => "#team"}Team
			%br/
			%br/
			%br/
			%br/
			%br/
			.container
				.row
					.col.s12.m4.l4
						.center
							%i.grande.material-icons flash_on
							%h5 Acelera la comunicación
							%p.center Esta plataforma está diseñada para hacer que la comunicación entre los alumnos, tutores y autoridades del <b>plantel</b> sea más efectiva y rápida.
					.col.s12.m4.l4
						.center
							%i.grande.material-icons group
							%h5 Enfocado al plantel
							%p.center Se ha desarrollado un diseño intuitivo, fácil de leer y amigable, que permite que todos los usuarios se sientan bien con GliphyHub, el lugar <b>ideal</b> para la comunicación escolar.
					.col.s12.m4.l4.hide-on-small-only
						.center
							%i.grande.material-icons laptop_windows
							%h5 Totalmente Responsivo
							%p.center El diseño fue una de nuestras prioridades al diseñar este sitio. Se adapta, <b>evoluciona</b>, para que accedas cómodamente desde el dispositivo que quieras.
		#team.block
			%nav.pushpin-demo-nav{:data =>{:target => "team"}}
				.nav-wrapper.light.blue
					.container
						%a.brand-logo Team
						%ul.right.hide-on-med-and-down
							%li
								%a{:href => "#aboutus"}Sobre nosotros
							%li
								%a{:href => "#aboutg"}Sobre GliplyHub
			%br/
			%br/
			%br/
			%br/
			%br/
			.row
				.col.s12.m2.hide-on-small-only
				.col.s12.m3
					.card
						%br/
						%img.responsive-img{src: "images/avatar1.png"}
						.card-content
							%span.card-title Roberto
							%p <b>FrontEnd</b> y <b>BackEnd</b>
							%p Developer
				.col.s12.m3
					.card
						%br/
						%img.responsive-img{src: "images/avatar1.png"}
						.card-content
							%span.card-title Willie
							%p <b>DataBase</b> y <b>BackEnd</b>
							%p Desarrollador
				.col.s12.m3
					.card						
						%br/
						%img.responsive-img{src: "images/avatar1.png"}
						.card-content
							%span.card-title Joel
							%p <b>FrontEnd</b> y <b>BackEnd</b>
							%p Diseñador y desarrollador
				.col.s12.m2.hide-on-small-only
				.col.s12.m3.hide-on-small-only
					.card
						%br/
						%img.responsive-img{src: "images/avatar2.png"}
						.card-content
							%span.card-title Ana
							%p <b>Documentation</b>
							%p Documentador
				.col.s12.m3.hide-on-small-only
					.card
						%br/
						%img.responsive-img{src: "images/avatar1.png"}
						.card-content
							%span.card-title Noé
							%p <b>Documentation</b>
							%p Documentador
				.col.s12.m3
					.card
						%br/
						%img.responsive-img{src: "images/avatar2.png"}
						.card-content
							%span.card-title Mariana
							%p <b>Documentation</b>
							%p Documentador
				.col.s12.m2.hide-on-small-only
		%footer.page-footer.blue
			.container
				.row
					.col.s3
						%img{:src => "images/ghh.png", :alt => ""}/
					.col.s8
						%h5.white-text Inspiring innovation
			.footer-copyright
				.container © 2016-2017 #TeamDevs 
	%script{:type=>"text/javascript", :src=>"https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"}		
	%script{:type => "text/javascript", :src=>"https://code.jquery.com/jquery-3.1.1.min.js", :integrity=>"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
		:crossorigin=>"anonymous"}
	%script{:src=>"http://jnicol.github.io/particleground/js/jquery.particleground.js"}
	%script{:type=>"text/javascript", :src=>"js/materialize.js"}
	%script{:type=>"text/javascript", :src=>"js/main.js"}
	%script{:type=>"text/javascript", :src=>"js/index.js"}