!!!5
%html{:lang => "es"}
	%header
		%meta{:name => "viewport", :content=>"width=device-width, initial-scale=1"}
		%meta{:charset=> "UTF-8"}
		%link{:rel => "shortcut icon", :type=>"image/x-icon", :href => "../../images/favicon.ico"}/
		-#google icons
		%link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{:rel => "stylesheet", :href => "../../css/materialize.css", :media => "screen,projection"}/		
		%link{:rel => "stylesheet", :href => "../../css/style.css"}/
		%link{:rel => "stylesheet", :href => "../../css/animate.css"}/
		%title Gliphy Admin
	%body
		%ul#slide-out.side-nav{style:"background-color: #2B323A"}
			%li.userView
				.background
					%img{src:"../../images/office.jpg"}
				%a.white-bonis{href:"#"}
					%img.circle{src:"../../images/admin.jpg"}
				%a.white-bonis{href:"#"}
					%span.white-text.name Joel Hernández
					%span.white-text.email Admnistrador
			%li
				%a.white-bonis.waves-effect{href:"#"}
					%i.material-icons.left.white-bonis person
					Mi perfil
			%li
				%a.white-bonis.waves-effect{:href => "#!"} 
					%i.material-icons.left.white-bonis power_settings_new
					Salir
			
		%ul#navegacion1.side-nav.fixed{style:"width:240px; background-color: #2B323A"}
			
			%li
				.navbar-fixed
					%nav.negro-flat
			%p
			%li
				%a.waves-effect.white-bonis{href:"index.html"}
					%i.material-icons.left.white-bonis storage
					Base de Datos
			%p
			%li
				%a.waves-effect.white-bonis{:href => "self.html"} 
					%i.material-icons.left.white-bonis account_circle
					Mis comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "add.html"} 
					%i.material-icons.left.white-bonis add
					Agregar comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "search.html"} 
					%i.material-icons.left.white-bonis search
					Búsqueda
			%p
			%li
				%a.waves-effect.white-bonis{:href => "help.html"} 
					%i.material-icons.left.white-bonis error
					Ayuda
		%ul#navegacion-movil.side-nav{style:"width:240px; background-color: #2B323A"}
			%br
			%li
				%a.waves-effect.white-bonis{href:"index.html"}
					%i.material-icons.left.white-bonis storage
					Base de Datos
			%p
			%li
				%a.waves-effect.white-bonis{:href => "self.html"} 
					%i.material-icons.left.white-bonis account_circle
					Mis comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "add.html"} 
					%i.material-icons.left.white-bonis add
					Agregar comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "search.html"} 
					%i.material-icons.left.white-bonis search
					Búsqueda
			%p
			%li
				%a.waves-effect.white-bonis{:href => "help.html"} 
					%i.material-icons.left.white-bonis error
					Ayuda
		.navbar-fixed
			%nav.negro-flat
				.nav-wrapper
					%p.left
						%a.button-collapse1.hide-on-large-only.btn-flat.white-bonis.left{href:"#", data:{activates:"navegacion-movil"}}
							%i.material-icons{style:" line-height: 30px;"} menu
					%p.right
						%a.button-collapse2.btn-flat.white-bonis.left{href:"#", data:{activates:"slide-out"}}
							%i.material-icons.left{style:" line-height: 30px;"} apps
							OPCIONES
						

		-# ===================== CONTENIDO
		%main
		

					
		



	%script{:type => "text/javascript", :src=>"https://code.jquery.com/jquery-3.1.1.min.js", :integrity=>"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
		:crossorigin=>"anonymous"}
	%script{:type=>"text/javascript", :src=>"../../js/materialize.js"}
	%script{:type=>"text/javascript", :src=>"../../js/main.js"}