!!!5
%html{:lang => "es"}
	%header
		%meta{:name => "viewport", :content=>"width=device-width, initial-scale=1"}
		%meta{:charset=> "UTF-8"}
		%link{:rel => "shortcut icon", :type=>"image/x-icon", :href => "../../images/favicon.ico"}/
		-#google icons
		%link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{:rel => "stylesheet", :href => "../../css/materialize.css", :media => "screen,projection"}/		
		%link{:rel => "stylesheet", :href => "../../css/style.css"}/
		%link{:rel => "stylesheet", :href => "../../css/animate.css"}/
		%title Gliphy Admin
	%body
		%ul#slide-out.side-nav{style:"background-color: #2B323A"}
			%li.userView
				.background
					%img{src:"../../images/office.jpg"}
				%a.white-bonis{href:"#"}
					%img.circle{src:"../../images/admin.jpg"}
				%a.white-bonis{href:"#"}
					%span.white-text.name Joel Hernández
					%span.white-text.email Admnistrador
			%li
				%a.white-bonis.waves-effect{href:"#"}
					%i.material-icons.left.white-bonis person
					Mi perfil
			%li
				%a.white-bonis.waves-effect{:href => "#!"} 
					%i.material-icons.left.white-bonis power_settings_new
					Salir
			
		%ul#navegacion1.side-nav.fixed{style:"width:240px; background-color: #2B323A"}
			
			%li
				.navbar-fixed
					%nav.negro-flat
			%p
			%li
				%a.waves-effect.white-bonis{href:"index.html"}
					%i.material-icons.left.white-bonis storage
					Base de Datos
			%p
			%li
				%a.waves-effect.white-bonis{:href => "self.html"} 
					%i.material-icons.left.white-bonis account_circle
					Mis comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "add.html"} 
					%i.material-icons.left.white-bonis add
					Agregar comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "search.html"} 
					%i.material-icons.left.white-bonis search
					Búsqueda
			%p
			%li
				%a.waves-effect.white-bonis{:href => "help.html"} 
					%i.material-icons.left.white-bonis error
					Ayuda
		%ul#navegacion-movil.side-nav{style:"width:240px; background-color: #2B323A"}
			%br
			%li
				%a.waves-effect.white-bonis{href:"index.html"}
					%i.material-icons.left.white-bonis storage
					Base de Datos
			%p
			%li
				%a.waves-effect.white-bonis{:href => "self.html"} 
					%i.material-icons.left.white-bonis account_circle
					Mis comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "add.html"} 
					%i.material-icons.left.white-bonis add
					Agregar comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "search.html"} 
					%i.material-icons.left.white-bonis search
					Búsqueda
			%p
			%li
				%a.waves-effect.white-bonis{:href => "help.html"} 
					%i.material-icons.left.white-bonis error
					Ayuda
		.navbar-fixed
			%nav.negro-flat
				.nav-wrapper
					%p.left
						%a.button-collapse1.hide-on-large-only.btn-flat.white-bonis.left{href:"#", data:{activates:"navegacion-movil"}}
							%i.material-icons{style:" line-height: 30px;"} menu
					%p.right
						%a.button-collapse2.btn-flat.white-bonis.left{href:"#", data:{activates:"slide-out"}}
							%i.material-icons.left{style:" line-height: 30px;"} apps
							OPCIONES
						

		-# ===================== CONTENIDO
		%main
			#contenido-comunicado.modal.modal-fixed-footer
				.modal-content
					%h4 Título del comunicado
					%p Aquí se puede ver el  comunicado.
					%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

					%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

					%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					%p{:style=>"margin-top: 1em"}
						.chip
							%i.icono-on-chip.material-icons today
							Fecha_publicación
						.chip 
							%i.icono-on-chip.material-icons attachment
							Archivos adjuntos
						.chip 
							%i.icono-on-chip.material-icons person
							Dirigido a...
				.modal-footer
					%a.modal-action.modal-close.waves-effect.btn-flat{href:"#"} Volver
			#mensaje-confirmar.modal
				.modal-content
					%h4 ¿Deseas continuar?
					%p Una vez eliminado el comunicado no se podrá revertir el cambio.
					%p.right
						%a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"#"} Volver
						%a.modal-action.modal-close.waves-effect.waves-flat.btn.red{href:"#"} Eliminar
			.fixed-action-btn
				%a.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped.hoverable{href:"add.html",data:{position:"left", delay:"50", tooltip:"Agregar"}}
					%i.material-icons add
			.row
				.col.s12.l5{:style=>"margin-top: 0.5rem"}
					%h3.truncate Mis comunicados
					%blockquote Aquí podrá ver todos los comunicados que ha hecho a través del tiempo.
					%nav.nav-extended
						.nav-content.bar-menu-color
							%ul.tabs.tabs-transparent
								%li.tab
									%a.active{:href => "#basicos"} Básicos
								%li.tab
									%a{:href => "#fecha-e"} Fecha
								%li.tab
									%a{:href => "#busqueda-e"} Búsqueda
					
					#basicos.col.s12
						%h5 Usuarios
						%form{:action=>"#"}
							%p
								%input#todos3.with-gap{:name=>"group1", :type=>"radio", :checked=>""}
								%label{:for=>"todos3"} <b>Todos</b>
							%p
								%input#alumnos.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"alumnos"} <b>Alumnos</b>
								%input#profesores.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"profesores",style:"margin-left: 1rem"} <b>Profesores</b>
								%input#admin.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"admin",style:"margin-left: 1rem"} <b>Admnistrativos</b>
						%h5 Sección
						%form{:action=>"#"}
							%p
								%input#todos1.with-gap{:name=>"group1", :type=>"radio", :checked=>""}
								%label{:for=>"todos1"} <b>Todos</b>
							%p
								%input#test2.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"test2"} <b>Secundaria</b>
								%input#test3.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"test3",style:"margin-left: 1rem"} <b>Bachillerato</b>
						%h5 Turno
						%form{:action=>"#"}
							%p
								%input#todos2.with-gap{:name=>"group1", :type=>"radio", :checked=>""}
								%label{:for=>"todos2"} <b>Todos</b>
							%p
								%input#matutino.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"matutino"} <b>Matutino</b>
								%input#vespertino.with-gap{:name=>"group1", :type=>"checkbox"}
								%label{:for=>"vespertino",style:"margin-left: 1rem"} <b>Vespertino</b>
						
						%br
						%br
						%a.waves-effect.btn-flat{href:"#"} Limpiar
						%a.waves-effect.waves-light.btn{href:"#"} Buscar
					#fecha-e.col.s12
						%h5 Fecha en concreto
						%form{:action=>"#"}
							%p{style:"margin-top: 2rem"}
								.input-field
									%select
										%option{value:"", disabled:"", selected:""} Elige el año
										%option{value:"0"} Todos
										%option{value:"1"} 2017
										%option{value:"2"} 2018
										%option{value:"3"} 2019
										%option{value:"4"} 2020
										%option{value:"5"} 2021
										%option{value:"6"} 2022
									%label Año
							%p{style:"margin-top: 2rem"}
								.input-field
									%select
										%option{value:"", disabled:"", selected:""} Elige el mes
										%option{value:"0"} Todos
										%option{value:"1"} Enero
										%option{value:"2"} Febrero
										%option{value:"3"} Marzo
										%option{value:"4"} Abril
										%option{value:"5"} Mayo
										%option{value:"6"} Junio
										%option{value:"7"} Julio
										%option{value:"8"} Agosto
										%option{value:"9"} Septiembre
										%option{value:"10"} Octubre
										%option{value:"11"} Noviembre
										%option{value:"12"} Diciembre
									%label Me
							%p{style:"margin-top: 2rem"}
								.input-field
									%select
										%option{value:"", disabled:"", selected:""} Elige el día
										%option{value:"0"} Todos
										%option{value:"1"} 1
										%option{value:"2"} 2
										%option{value:"3"} 3
										%option{value:"4"} 4
										%option{value:"5"} 5
										%option{value:"6"} 6
										%option{value:"7"} 7
										%option{value:"8"} 8
										%option{value:"9"} 9
										%option{value:"10"} 10
										%option{value:"11"} 11
										%option{value:"12"} 12
										%option{value:"13"} 13
										%option{value:"14"} 14
										%option{value:"15"} 15
										%option{value:"16"} 16
										%option{value:"17"} 17
										%option{value:"18"} 18
										%option{value:"19"} 19
										%option{value:"20"} 20
										%option{value:"21"} 21
										%option{value:"22"} 22
										%option{value:"23"} 23
										%option{value:"24"} 24
										%option{value:"25"} 25
										%option{value:"26"} 26
										%option{value:"27"} 27
										%option{value:"28"} 28
										%option{value:"29"} 29
										%option{value:"30"} 30
									%label Día
								%a.waves-effect.btn-flat{href:"#"} Limpiar
								%a.waves-effect.waves-light.btn{href:"#"} Buscar
					#busqueda-e.col.s12
						%h5 Dirgido a
						%form{:action=>"#"}
							%p
								.input-field
									%input#titulo.validate{type:"text"}
									%label{for:"terminos"} Ingrese algún término
							%a.waves-effect.btn-flat{href:"#"} Limpiar
							%a.waves-effect.waves-light.btn{href:"#"} Buscar
						%br
						%h5 Búsqueda por términos en concreto
						%form{:action=>"#"}
							%p
								.input-field
									%input#titulo.validate{type:"text"}
									%label{for:"terminos"} Ingrese algún término
							%a.waves-effect.btn-flat{href:"#"} Limpiar
							%a.waves-effect.waves-light.btn{href:"#"} Buscar
							
						
				.col.s12.l7{:style=>"margin-top: 1em"}
					.row	
						.col.s12
							%p
								.input-field
									%i.material-icons.prefix sort
									%select
										%option{value:"", disabled:"", selected:""} Elige el orden
										%option{value:"0"} Fecha de publicación
										%option{value:"1"} Dirigido a...
									%label Ordenar por:
						-# ============== AQUÍ COMIENZAN TODOS LOS CARDS
						.col.s12
							.card
								.card-content
									.card-title.grey-text.text-darken-4
										Título del comunicado
										%a{href:"#contenido-comunicado"}
											%i.material-icons.right visibility
									%p
										Esto es un preview del texto y no acabarás de lee...
									%p{:style=>"margin-top: 1em"}
										.chip
											%i.icono-on-chip.material-icons today
											Fecha_publicación
										.chip 
											%i.icono-on-chip.material-icons attachment
											Archivos adjuntos
										.chip 
											%i.icono-on-chip.material-icons person
											Dirigido a...
								.card-action
									%a{href:"#mensaje-confirmar"} Eliminar
						.col.s12
							.card
								.card-content
									.card-title.grey-text.text-darken-4
										Título del comunicado
										%a{href:"#contenido-comunicado"}
											%i.material-icons.right visibility
									%p
										Esto es un preview del texto y no acabarás de lee...
									%p{:style=>"margin-top: 1em"}
										.chip
											%i.icono-on-chip.material-icons today
											Fecha_publicación
										.chip 
											%i.icono-on-chip.material-icons attachment
											Archivos adjuntos
										.chip 
											%i.icono-on-chip.material-icons person
											Dirigido a...
								.card-action
									%a{href:"#mensaje-confirmar"} Eliminar
						.col.s12
							.card
								.card-content
									.card-title.grey-text.text-darken-4
										Título del comunicado
										%a{href:"#contenido-comunicado"}
											%i.material-icons.right visibility
									%p
										Esto es un preview del texto y no acabarás de lee...
									%p{:style=>"margin-top: 1em"}
										.chip
											%i.icono-on-chip.material-icons today
											Fecha_publicación
										.chip 
											%i.icono-on-chip.material-icons attachment
											Archivos adjuntos
										.chip 
											%i.icono-on-chip.material-icons person
											Dirigido a...
								.card-action
									%a{href:"#mensaje-confirmar"} Eliminar
						.col.s12
							.card
								.card-content
									.card-title.grey-text.text-darken-4
										Título del comunicado
										%a{href:"#contenido-comunicado"}
											%i.material-icons.right visibility
									%p
										Esto es un preview del texto y no acabarás de lee...
									%p{:style=>"margin-top: 1em"}
										.chip
											%i.icono-on-chip.material-icons today
											Fecha_publicación
										.chip 
											%i.icono-on-chip.material-icons attachment
											Archivos adjuntos
										.chip 
											%i.icono-on-chip.material-icons person
											Dirigido a...
								.card-action
									%a{href:"#mensaje-confirmar"} Eliminar
						.col.s12
							%ul.pagination
								%li.disabled 
									%a{href:"#!"}
										%i.material-icons chevron_left
								%li.active
									%a{:href => "#!"} 1
								%li.waves-effect
									%a{:href => "#!"} 2
								%li.waves-effect
									%a{href:"#!"}
										%i.material-icons chevron_right

					
		



	%script{:type => "text/javascript", :src=>"https://code.jquery.com/jquery-3.1.1.min.js", :integrity=>"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
		:crossorigin=>"anonymous"}
	%script{:type=>"text/javascript", :src=>"../../js/materialize.js"}
	%script{:type=>"text/javascript", :src=>"../../js/main.js"}