html, body,  {
    height: 100%;
    font-weight: 500;
}

//=================Forms Colors==========================
 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: #2196F3;
   }
   .input-field input[type=password]:focus + label {
     color: #2196F3;
   }
   .input-field input[type=text]:focus + label {
     color: #2196F3;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #2196F3;
     box-shadow: 0 1px 0 0 #2196F3;
   }
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #2196F3;
     box-shadow: 0 1px 0 0 #2196F3;
   }
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #2196F3;
     box-shadow: 0 1px 0 0 #2196F3;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #2196F3;
   }
   .btn{
      background-color: #2196F3;
   }


.animar{
  transition: all 0.9s;
}
.select-wrapper input.select-dropdown{
  z-index: 800;
}
.help-menu{
  li > a {
      display: block;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      line-height: 48px;
      padding: 0 32px;
  }
  i {
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
  }
  .arrow {
    float: right;
    margin: 0;
  }
  .collapsible {
    border: none;
    box-shadow: none;
    margin: 0;
    a {
      background: none;
      border: none;
    }
    .collapsible-body {
      border: none;
      padding: 0;
    }
  }
}

.btn-square{
  padding: 0px;
  width: 40px;
  text-align: center;
   i { line-height: 35px;}
}