html, body, .block {
    height: 100%;
    font-weight: 500;
}
#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

//========== login styles================
.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    letter-spacing: 7px;
}
nav ul li {
    font-weight: 500;
}

//============ dropdown=====================
.dropdown-content{
  margin-top: 50px;
  li{
    a{
      &:hover{
      background-color: transparent,
    }
    }
    &:hover{
      background-color: rgba(64,64,64,0.6),
    }
  }
}

//=============team images===================
#team .card{
  position: initial !important;
  img{
    width: 10rem;
  }
}
//========footer image====================
footer{
  img{
    width: 15rem;
    filter: invert(100%);
  }
}

.main-login {
  box-sizing: initial;
}

.contenedor-login {
  height: 100vh;
  overflow: hidden;
  position: relative;
   -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}


//======= LoginBox =======
.login {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

//===== Estilos Contenedor del login ======
.contenedor-login h1, h2 {
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}

.contenedor-login h1 {
  font-size: 24px;
}

.contenedor-login h2 {
  font-size: 16px;
}

.contenedor-login p {
  margin: 0px;
}

//====== Animation - Background Gray ========
.login-before {
  content: "";
  height: 0px;
  padding: 0px;
  border: 130em solid #313440;
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 2;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

@-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    -webkit-border-radius: 0px;
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

//======== Login Card ========
.profile-card {
  background: #FFB300;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

//===== Animación principal =========
.profileAnimated {
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@-webkit-keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    -webkit-border-radius: 4px;
  }
  100% {
    width: 40vh;
    height: 60vh;
    background: #eceff1;
    -webkit-border-radius: 4px;
    min-height: 430px;
     min-width: 280px;
  }
}
@keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 40vh;
    height: 60vh;
    background: #eceff1;
    border-radius: 4px;
    min-height: 430px;
    min-width: 280px;
  }
}

//====== Estilos final después del forwards cardAnimated =======
.profileFinal {
  margin-top: 0px !important;
  opacity: 1 !important;
  width: 40vh ;
  height: 60vh;
  background: #eceff1;
  -webkit-border-radius: 4px;
  min-height: 430px;
  min-width: 280px;
}

//===== contenido del Card =======
.profile-card .profile-bio {
  height: 180px;
  background: #FFFFFF;
  color: #333333;
  text-align: center;
  opacity: 0;
  padding: 5px 20px 30px 20px;
  display: block;
}

.profile-card .forget {
  margin-top: 10px;
  display: block;
  font-size: 12px;
}


//====== logotipo del card =========
.profile-card .logotipo-login {
  height: auto;
  padding: 0 20px 0px 20px;
  display: block;
  vertical-align: center;
  background: #FFFFFF;
  color: #000000;
  margin-top: 50px;
  opacity: 0;
  text-align: center;
  
}
.profile-card .logotipo-login a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 20px 30px 10px 30px;
}

.profile-card .logotipo-login a > img {
  width: 12vh;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.profile-card .logotipo-login h1 {
  color: #FF5722;
}


// ===== Animación de contenido del card =======
.profile-card .animate {
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

@-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.profile-card .animated {
  opacity: 1;
  margin-top: 0px;
}

//====== Animación Cambiar ancho ===========
.anchuraExtra {
  -webkit-animation: anchoIn 2s ease-in-out 0s forwards; 
  animation: anchoIn 2s ease-in-out 0s forwards; 
}

@-webkit-keyframes anchoIn {
    0% {
    width: 40vh;
  }
  100% {
    width: 500px;
  }
}

@keyframes anchoIn {
  0% {
    width: 40vh;
  }
  100% {
    width: 500px;
  }
}

.anchoCambiado {
  width: 60vh;
  height: 60vh;
}

@media only screen and (max-width : 600px) {
  @-webkit-keyframes anchoIn {
      0% {
      width: 40vh;
      height: 60vh;
      min-height: 430px;
      min-width: 280px;
    }
    100% {
      width: 100vw;
      height: 100vh;
      min-height: 0px;
      min-width: 0px;
    }
  }

  @keyframes anchoIn {
      0% {
        width: 40vh;
        height: 60vh;
        min-height: 430px;
        min-width: 280px;
      }
      100% {
        width: 100vw;
        height: 100vh;
        min-height: 100%;
        min-width: 100%;
      }
      .anchoCambiado {
        width: 100vw;
        height: 100vh;
        min-height: 100%;
        min-width: 100%;
      }
    }
}

.anchuraExtraOff {
  -webkit-animation: anchoOut 2s ease-in-out 0s forwards; 
  animation: anchoOut 2s ease-in-out 0s forwards; 
}

@-webkit-keyframes anchoOut {
  0% {
    width: 500px;
  }
  100% {
    width: 40vh;
  }
}
@keyframes anchoOut {
  0% {
    width: 500px;
  }
  100% {
    width: 40vh;
  }
}

@media only screen and (max-width : 600px) {
  @-webkit-keyframes anchoOut {
      0% {
      width: 100vw;
      height: 100vh;
    }
    100% {
      width: 40vh;
      height: 60vh;
    }
  }
  @keyframes anchoOut {
   0% {
      width: 100vw;
      height: 100vh;
    }
    100% {
      width: 40vh;
      height: 60vh;
    }
  }
}

// ====== Olvidé mi contraseña ===========

#forgotten {
  padding: 30px 30px 30px 30px;
  display: none;
  opacity: 1;
}

.backLogin {
  position: absolute;
  margin: -30px 0 0 -20px;
}

//=================================== Estilos de contenido =================================
.deslizable{padding-top:20px}

.arregladito{position:fixed; top:0}

.section-Title {
  margin: 0px 0 20px 0;
}

.deslizable .section {
  margin-bottom: 10vh;
}

.space-login {
  margin: 40px 0 40px;
}

.title-gif {
  h2 {
    padding-top: 17vh;
  }
  img {
    max-height: 40vh;
  }
}
@media only screen and (max-width : 600px) {
  .title-gif h2 {
      padding-top: 0;
    }
}