-#===========================LAYOUT==============================================================================================
!!!5
%html{:lang => "es"}
	%header
		%meta{:name => "viewport", :content=>"width=device-width, initial-scale=1"}
		%meta{:charset=> "UTF-8"}
		%link{:rel => "shortcut icon", :type=>"image/x-icon", :href => "../../../images/favicon.ico"}/
		-#google icons
		%link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{:rel => "stylesheet", :href => "../../../css/materialize.css", :media => "screen,projection"}/		
		%link{:rel => "stylesheet", :href => "../../../css/style.css"}/
		%link{:rel => "stylesheet", :href => "../../../css/animate.css"}/
		%title Gliphy New
	%body
		-#=====================Nav bar de arriba=================================================================================
		.navbar-fixed
			%nav.negro-flat
				.nav-wrapper
					%p.left
						%a.button-collapse1.hide-on-large-only.btn-flat.white-bonis.left{href:"#", data:{activates:"navegacion-movil"}}
							%i.material-icons{style:" line-height: 30px;"} menu
					%p.right
						%a.button-collapse2.btn-flat.white-bonis.left{href:"#", data:{activates:"slide-out"}}
							%i.material-icons.left{style:" line-height: 30px;"} apps
							OPCIONES
					.col.s8.margincito-left.hide-on-small-only
						%a.breadcrumb{:href => ""} GliphyAdmin
						%a.breadcrumb{:href => ""} Nuevo comunicado
		-#=====================Menu slide hacia izquierda opciones de usuario====================================================
		%ul#slide-out.side-nav.lateral-admin
			%li.userView
				.background
					%img{src:"../../../images/office.jpg"}
				%a.white-bonis{href:"#"}
					%img.circle{src:"../../../images/admin.jpg"}
				%a.white-bonis{href:"#"}
					%span.white-text.name Joel Hernández
					%span.white-text.email Admnistrador
			%li
				%a.white-bonis.waves-effect{href:"#"}
					%i.material-icons.left.white-bonis person
					Mi perfil
			%li
				%a.white-bonis.waves-effect{:href => "#!"} 
					%i.material-icons.left.white-bonis power_settings_new
					Salir
		-#=====================Menu visible opciones de navegacion===============================================================
		%ul#navegacion1.side-nav.fixed.lateral-admin{style:"width:240px;margin-top:63px;"}			
			-# %li
			-# 	.navbar-fixed
			-# 		%nav.negro-flat
			-# %p
			%li
				%a.waves-effect.white-bonis{href:"#!"}
					%i.material-icons.left.white-bonis storage
					Base de Datos
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis account_circle
					Mis comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis add
					Agregar comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis search
					Búsqueda
			%p
			%li
				%a.waves-effect.white-bonis{:href => "#!"} 
					%i.material-icons.left.white-bonis error
					Ayuda
		-#====================Menu desplegable hacia derecha opciones de navegacion responsive===================================
		%ul#navegacion-movil.side-nav.lateral-admin{style:"width:240px"}
			%br
			%li
				%a.waves-effect.white-bonis{:href=>"#!"}
					%i.material-icons.left.white-bonis storage
					Base de Datos
			%p
			%li
				%a.waves-effect.white-bonis{:hre =>"#!"} 
					%i.material-icons.left.white-bonis account_circle
					Mis comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href=>"#!"} 
					%i.material-icons.left.white-bonis add
					Agregar comunicados
			%p
			%li
				%a.waves-effect.white-bonis{:href=>"#!"} 
					%i.material-icons.left.white-bonis search
					Búsqueda
			%p
			%li
				%a.waves-effect.white-bonis{:href=>"#!"} 
					%i.material-icons.left.white-bonis error
					Ayuda
		-#!!!!!!!!!!!!!!!!!!!CONTENIDO STOP LAYOUT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		%main
			-#===============Boton publicar================
			.fixed-action-btn
				%a.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped.hoverable{href:"#mensaje-confirmar", data:{position:"left", delay:"50", tooltip:"Publicar"}}
					%i.material-icons done
			-#===============Mensaje del boton=============
			#mensaje-confirmar.modal
				.modal-content
					%h4 ¿Deseas continuar?
					%p Revise los datos, y asegurese de que son correctos.
					%p.right
						%a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"#"} Volver
						%a.modal-action.modal-close.waves-effect.waves-green.btn{href:"#"} Publicar
			-#===============Principal contenido===========
			.row
				-#===========Mensajes======================
				%blockquote{:style=>"margin-left: 0.5rem"} Este seria un mensaje solo se muestra cuando es necesario
				-#==========Filtros para la publicacion====
				.col.s12.l5{:style=>"margin-top: 0.5rem"}
					%h3.truncate Nuevo comunicado
					%p Seleccione las opciones que desee y necesite para la publicación de un nuevo comunicado.
					%h5 Seleccione la prioridad del comunicado
					%p
						%input#normal{:name=>"tipo", :type=>"radio", :checked=>""}
						%label{:for=>"normal"} <b> Normal </b>
					%p
						%input#urgente{:name=>"tipo", :type=>"radio"}
						%label{:for=>"urgente"} <b> URGENTE </b>
					
					%h5 Seleccione el destino del comunicado
					%p
						%input#todosdest{:name=>"dest", :type=>"radio"}
						%label{:for=>"todosdest"} <b> Todos </b>
					%p
						%input#alumnosdest{:name=>"dest", :type=>"radio"}
						%label{:for=>"alumnosdest"} <b> Solo alumnos </b>
					%p
						%input#profesoresdest{:name=>"dest", :type=>"radio"}
						%label{:for=>"profesoresdest"} <b> Solo profesores </b>
					%p
						%input#admindest{:name=>"dest", :type=>"radio"}
						%label{:for=>"admindest"} <b> Solo administradores </b>
					%p
						%input#pers{:name=>"dest", :type=>"radio"}
						%label{:for=>"pers"} <b> Perzonalizada </b>
					%nav.nav-extended
						.nav-content.bar-menu-color
							%ul.tabs.tabs-transparent
								%li.tab
									%a.active{:href => "#general"} general
								%li.tab
									%a{:href => "#alumnos-e"} alumnos
								%li.tab
									%a{:href => "#profadmin-e"} prof y admin
					
					#general.col.s12
						%h5 Nivel
						%form{:action=>"#"}
							%p
								%input#secundaria{:name=>"nivel", :type=>"checkbox"}
								%label{:for=>"secundaria"} <b>Secundaria</b>
								%input#bachilerato{:name=>"nivel", :type=>"checkbox"}
								%label{:for=>"bachilerato",style:"margin-left: 1rem"} <b>Bachillerato</b>
						%h5 Turno
						%form{:action=>"#"}
							%p
								%input#matutino{:name=>"turno", :type=>"checkbox"}
								%label{:for=>"matutino"} <b>Matutino</b>
								%input#vespertino{:name=>"turno", :type=>"checkbox"}
								%label{:for=>"vespertino",style:"margin-left: 1rem"} <b>Vespertino</b>
						%h5 Usuarios
						%form{:action=>"#"}
							%p
								%input#alumnos{:name=>"usuarios", :type=>"checkbox"}
								%label{:for=>"alumnos"} <b>Alumnos</b>
								%input#profesores{:name=>"usuarios", :type=>"checkbox"}
								%label{:for=>"profesores",style:"margin-left: 1rem"} <b>Profesores</b>
								%input#admin{:name=>"usuarios", :type=>"checkbox"}
								%label{:for=>"admin",style:"margin-left: 1rem"} <b>Admnistrativos</b>
					#alumnos-e.col.s12
						%h5 Grupos
						%h43 Secundaria O Bachillerato
						%form{:action=>"#"} 
							%p
								%input#primero{:name=>"level", :type=>"checkbox"}
								%label{:for=>"primero"} <b>Primer Grado</b>
								%br/
								%input#segundo{:name=>"level", :type=>"checkbox"}
								%label{:for=>"segundo"} <b>Segundo Grado</b>
								%br/
								%input#tercero{:name=>"level", :type=>"checkbox"}
								%label{:for=>"tercero"} <b>Tercer Grado</b>
							.input-field
								%select{multiple:""}
									%option{value:"", disabled:"", selected:""} Elige los grupos
									%option{value:"1"} Primero - Matutino
									%option{value:"2"} Segundo - Matutino
									%option{value:"3"} Tercero - Matutino
									%option{value:"4"} Primero - Vespertino
									%option{value:"5"} Segundo - Vespertino
									%option{value:"6"} Tercero - Vespertino
					#profadmin-e.col.s12
						%h5 Profesores 
						%form{:action=>"#"}
							%p
								%input#all-teach{:name=>"level-2", :type=>"radio"}
								%label{:for=>"all-teach"} <b>Todos</b>
								%input#seleccionar-teacher{:name=>"level-2", :type=>"radio"}
								%label{:for=>"seleccionar-teacher",style:"margin-left: 1rem"} <b>Seleccionar</b>
							%p{style:"margin-top: 2rem"}
								.input-field
									%select{multiple:""}
										%option{value:"", disabled:"", selected:""} Elija a los profesores
										%option{value:"1"} Profesor A
										%option{value:"2"} Profesor B
										%option{value:"3"} Profesor C
										%option{value:"4"} Profesor D
									%label Profesor
						%h5 Adminsitradores
						%form{:action=>"#"}
							%p
								%input#all-teach{:name=>"level-2", :type=>"radio"}
								%label{:for=>"all-teach"} <b>Todos</b>
								%input#seleccionar-teacher{:name=>"level-2", :type=>"radio"}
								%label{:for=>"seleccionar-teacher",style:"margin-left: 1rem"} <b>Seleccionar</b>
							%p{style:"margin-top: 2rem"}
								.input-field
									%select{multiple:""}
										%option{value:"", disabled:"", selected:""} Elija a los administradores
										%option{value:"1"} Administradores A
										%option{value:"2"} Administradores B
										%option{value:"3"} Administradores C
										%option{value:"4"} Administradores D
									%label Administrador
				-#===========Contenido de la publuicacion==
				.col.s12.l7{:style=>"margin-top: 1em"}
					.row
						.input-field.col.s12
							%input#titulo.validate{type:"text",:placeholder=>""}
							%label{for:"titulo"} Título del comunicado
						.input-field.col.s12
							%textarea#contenido-comunicado.materialize-textarea{type:"text", placeholder:"Texto", data:{length:"400"}}
							%label{for:"contenido-comunicado.materialize-textarea"}Contenido
						.col.s12.input-field
							%i.material-icons.prefix today
							%input#fecha2.datepicker{type:"date"}
							%label{for:"fecha2"} Fecha de término

						.col.s12.input-field
							%i.material-icons.prefix link
							%input#links1.validate{type:"text"}
							%label{for:"links1"} Link 1
						.col.s12.input-field
							%i.material-icons.prefix link
							%input#links2.validate{type:"text"}
							%label{for:"links2"} Link 2
						.col.s12
							%form{action:"#"}
								.file-field.input-field
									.btn
										%span
											%i.material-icons attach_file
										%input{type:"file", multiple:""}
									.file-path-wrapper
										%input.file-path.validate{type:"text", placeholder:"Archivos a subir"}
								.file-field.input-field
									.btn
										%span
											%i.material-icons attach_file
										%input{type:"file", multiple:""}
									.file-path-wrapper
										%input.file-path.validate{type:"text", placeholder:"Archivos a subir"}
						.col.s12
							.chips.chips-initial
	-#=======================Scripts=============================================================================================
	%script{:type => "text/javascript", :src=>"https://code.jquery.com/jquery-3.1.1.min.js", :integrity=>"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
		:crossorigin=>"anonymous"}
	%script{:type=>"text/javascript", :src=>"../../../js/materialize.js"}
	%script{:type=>"text/javascript", :src=>"../../../js/main.js"}